<%# locals: (user_list_upload:) %>

<%= turbo_stream_from user_list_upload %>
<div class="alert alert-info d-flex align-items-center mb-0" role="status">
  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
  <span>Calcul du nombre de créneaux disponibles en cours...</span>
</div>
