<%= render "common/custom_confirmation_modal" do %>
  <p class="mb-3">
    L'orientation « <%= participation.post_rdv_orientation.orientation_type.name %> »
    sera supprimée si vous changez le statut. Voulez-vous continuer ?
  </p>
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-blue-out" data-bs-dismiss="modal">Annuler</button>
    <%= button_to participation_path(participation), method: :patch,
                  params: { participation: { status: } } do %>
      Continuer
    <% end %>
  </div>
<% end %>
