<div class="d-flex h-100 px-2 justify-content-center align-items-center">
  <div class="btn-group">
    <button type="button" class="btn <%= button_classes_for_participation_status(participation) %> dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
      <%= participation.human_status %>
    </button>
    <%= render "participations/participation_status_dropdown", participation: %>
  </div>
</div>
