.context-block {
  th, td {
    min-width: 140px;
    max-width: 140px;
  }
}

.block-white {
  background-color: white;
  caption-side: top;
  border: 0.5px solid $light-grey;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.green-check {
  color: $green;
  font-size: 1.3rem;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.label-blue {
  color: $dark-blue;

  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.icon-sm {
  font-size: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.context-header {
  width: 100%;
  span {
    display: block;
    background-color: $dark-blue;
    height: 4px;
    width: 50px;
    &:nth-child(3) {
      flex-grow: 1;
    }
  }
}

@media (max-width: 1200px) {
  .context-block {
    flex-wrap: wrap;
  }
  .rdv-status-block {
    width: 80%;
  }
}
