<% content_for :title, "Accessibilité - rdv-insertion" %>

<div class="container legal-notice mb-4">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-10">
      <h1>Accessibilité</h1>

      <h2>Déclaration d'accessibilité</h2>
      <p>La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous. Pour en savoir plus sur la politique d’accessibilité numérique de l’État : <a href="http://references.modernisation.gouv.fr/accessibilite-numerique" target="_blank" class="text-decoration-underline">http://references.modernisation.gouv.fr/accessibilite-numerique</a></p>

      <h2>État de conformité</h2>
      <p>RDV-Insertion est non conforme avec le RGAA 4.1. Le site n’a pas encore été audité.</p>

      <h2>Amélioration et contact</h2>
      <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter RDV-Insertion pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>
      <ul>
        <li>E-mail : <a href="mailto:rdv-insertion@beta.gouv.fr" class="text-decoration-underline">rdv-insertion@beta.gouv.fr</a></li>
        <li>Adresse : DINUM 20 avenue de Ségur 75007 Paris</li>
      </ul>

      <h2>Voie de recours</h2>
      <p>Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
      <p>Vous pouvez :</p>
      <ul>
        <li>Écrire un message au Défenseur des droits</li>
        <li>Contacter le délégué du Défenseur des droits dans votre région</li>
        <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) : Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07</li>
      </ul>
    </div>
  </div>
</div>
