<div class="container legal-notice mb-4">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-10">
      <h1>Mentions légales</h1>

      <h2>Éditeur</h2>
      <p>Ce site est édité par la direction interministérielle du numérique (DINUM), un service du Premier ministre.</p>
      <p>DINUM<br/>
      20 avenue de Ségur<br/>
      75007 Paris<br/>
      Tel. accueil : 01.71.21.01.70<br/>
      SIRET : 12000101100010 (secrétariat général du gouvernement)<br/>
      SIREN : 120 001 011</p>

      <h2>Code source</h2>
      <p>Le code source est disponible à cette adresse : <a href="https://github.com/betagouv/rdv-insertion" target="_blank" class="text-decoration-underline">https://github.com/betagouv/rdv-insertion</a>
      </p>

      <h2>Directeur de la publication</h2>
      <p>Nadi Bou Hanna, Directeur interministériel du numérique.</p>

      <h2>Hébergement</h2>
      <p>Ce site est hébergé par :</p>
      <p>Outscale SASU<br/>
      1 rue Royale - 319 Bureaux de la Colline<br/>
      92210 Saint-Cloud</p>

      <h2>Sécurité</h2>
      <p>Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges. En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels pour demander la saisie d’informations personnelles.</p>
    </div>
  </div>
</div>
