<div class="container legal-notice mb-4">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-10">
      <h1>Politique de confidentialité</h1>

      <h2>Traitement des données à caractère personnel</h2>
      <p>La plateforme dénommée « RDV-insertion » constitue un outil de prise de rendez-vous pour les usagers des services d’insertion des départements. C’est un outil à l’ambition simple – permettre à l’usager de prendre rendez-vous en ligne avec son département – mais à l’impact majeur. La plateforme vise à organiser et fluidifier le rendez-vous d’orientation pour les nouveaux bénéficiaires du RSA. Cela permettra d’accélérer l’entrée en parcours d’insertion des bénéficiaires.</p>
      <p>RDV-insertion se situe au croisement des plateformes de data.insertion et RDV-solidarités, afin d’en faciliter l’usage. Elle est financée par le Service public de l’insertion et de l’emploi (SPIE) et dans la construction actuelle les acteurs principaux sont les départements, qui sont les responsables de traitement.</p>

      <h2>Finalité</h2>
      <p>De manière concrète, la plateforme a pour finalités&nbsp;:</p>
      <ul>
        <li>d’accélérer l’entrée dans le parcours d’insertion des bénéficiaires du RSA</li>
        <li>de limiter l’absentéisme des bénéficiaires du RSA à leur rendez-vous d’orientation</li>
        <li>de faciliter l’usage de rdv-solidarités par les acteurs utilisant data-insertion</li>
      </ul>

      <h2>Données à caractère personnel traitées</h2>
      <p>Dans le cadre de l'utilisation de la plateforme RDV-insertion, les données suivantes sont traitées&nbsp;:</p>
      <ul>
        <li><strong>Données relatives au compte agent :</strong> e-mail</li>
        <li><strong>Données relatives à la fiche "Nouvel entrant" :</strong> civilité, nom, prénom, de manière obligatoire, nom de naissance, date de naissance, adresse e-mail, numéro de téléphone, adresse, numéro d'allocataire, rôle, date d’ouverture des droits, justification de l’archivage d’un dossier (commentaire libre), date d’orientation</li>
        <li><strong>Données relatives aux rendez-vous :</strong> lieu, horaire, date, informations relatives à la présence ou absence de la personne concernée</li>
        <li><strong>Données de localisation :</strong> adresse</li>
        <li><strong>Données d'hébergeur :</strong> identifiant de connexion , nature des opérations</li>
        <li><strong>Cookies</strong></li>
      </ul>

      <p>Les données traitées à l’occasion de ce traitement ont plusieurs fondements juridiques&nbsp;:</p>
      <ul>
        <li>l’obligation légale à laquelle est soumis le responsable de traitements au sens de l’article 6-c du RGPD</li>
        <li>la mission d’intérêt public à laquelle le responsable du traitement est soumis au sens de l’article 6-e du RGPD</li>
      </ul>

      <p>Ces fondements sont précisés ci-dessous&nbsp;:</p>
      <ol>
        <li>Les données relatives au compte agent </li>
        <p>Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
        <li>Les données relatives à la fiche "Nouvel entrant"</li>
        <p>Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
        <li>Les données relatives aux rendez-vous</li>
        <p>Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
        <li>Les données de localisation</li>
        <p>Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
        <li>Les données d'hébergeur</li>
        <p>Ce traitement de données est nécessaire au respect d'une obligation légale à laquelle le responsable de traitement est soumis au sens de l'article 6-c du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
        <p>L'obligation légale est posée par la loi LCEN n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et par les articles 1 et 3 du décret n°2021-1363 du 20 octobre 2021.</p>
        <li>Cookies</li>
        <p>En application de l’article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l’article 82 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts.</p>
        <p>Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l’article 82 de la loi n°78-17 du 6 janvier 1978.</p>
        <p>Les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consenti par l’utilisateur.</p>
        <p>Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l'article 6-a du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
      </ol>

      <h2>Durée de conservation</h2>
      <p>Les données à caractère personnel sont conservées&nbsp;:</p>
      <table class="table table-responsive">
        <thead>
          <th>Catégorie de données traitées</th>
          <th>Données à caractère personnel traitées</th>
          <th>Durée de conservation des données</th>
        </thead>
        <tbody>
          <tr>
            <td>Données relatives au compte agent</td>
            <td>Email</td>
            <td>Les données sont conservées jusqu'à la suppression du compte, ou 2 ans après l’inactivité du compte</td>
          </tr>
          <tr>
            <td>Données relatives à la fiche « Nouvel Entrant »</td>
            <td>Civilité, nom, prénom, de manière obligatoire, nom de naissance, date de naissance, adresse e-mail, numéro de téléphone, adresse, numéro d'allocataire, rôle, date d’ouverture des droits, justification de l’archivage d’un dossier (commentaire libre), date d’orientation</td>
            <td>Les données sont conservées jusqu'à la suppression du compte, ou 2 ans après l’inactivité du compte</td>
          </tr>
          <tr>
            <td>Données relatives aux rendez-vous</td>
            <td>Prise de rendez-vous : Lieu, horaire, date, informations relatives à la présence ou absence de la personne concernée</td>
            <td>Les données sont conservées jusqu'à la suppression du compte, ou 2 ans après l’inactivité du compte</td>
          </tr>
          <tr>
            <td>Données de connexion conservées par l’hébergeur</td>
            <td>Identifiant de connexion, Nature des opérations, Heure de l’opération, Adresse IP des agents, Logs de connexion</td>
            <td>Ces données sont conservées 12 mois, en application de la loi pour la confiance dans l’économie numérique n°2004-575 du 21 juin 2004 et de l’article 3 du décret n°2021-1363 du 20 octobre 2021</td>
          </tr>
          <tr>
            <td>Cookies</td>
            <td>Cookies</td>
            <td>Ces données sont conservées 13 mois maximum</td>
          </tr>
        </tbody>
      </table>

      <h2>Droit des personnes concernées</h2>
      <p>Vous disposez des droits suivants concernant vos données à caractère personnel&nbsp;:</p>
      <ul>
        <li>Droit d’information</li>
        <li>Droit d’accès aux données</li>
        <li>Droit de rectiﬁcation</li>
        <li>Droit de suppression des données</li>
      </ul>
      <p>Pour les exercer, faites-nous parvenir une demande en précisant la date et l’heure précise de la requête - ces éléments sont indispensables pour nous permettre de retrouver votre recherche - par voie électronique à l’adresse suivante&nbsp;: <a href="mailto:data.insertion@beta.gouv.fr" class="text-decoration-underline">data.insertion@beta.gouv.fr</a></p>
      <p>En raison de l’obligation de sécurité et de conﬁdentialité dans le traitement des données à caractère personnel qui incombe au responsable de traitement, votre demande ne sera traitée que si vous apportez la preuve de votre identité. Pour vous aider dans votre démarche, <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces" target="_blank" class="text-decoration-underline">vous trouverez ici</a> un modèle de courrier élaboré par la Cnil.</p>
      <p>Nous nous engageons à ne jamais céder ces informations à des tiers.</p>

      <h2>Délais de réponse</h2>
      <p>Le responsable de traitement et l’équipe responsable de RDV-Insertion s’engage à répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>

      <h2>Destinataire des données</h2>
      <p>Le responsable de traitement s'engage à ce que les données à caractères personnels soient traitées par les seules personnes autorisées.</p>

      <h2>Sous-traitants</h2>
      <p>Certaines données sont envoyées à des sous-traitants pour réaliser certaines missions. Le responsable de traitements s'est assuré de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de conﬁdentialité, d’usage et de protection des données.</p>
      <table class="table table-responsive">
        <thead>
          <th>Partenaire</th>
          <th>Traitement</th>
          <th>Pays destinataire</th>
          <th>Garanties</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>Outscale SASU</strong></td>
            <td>Hébergement</td>
            <td>France</td>
            <td><a href="https://fr.outscale.com/wp-content/uploads/2020/10/Outscale-CGV-2020-09.pdf" target="_blank" class="text-decoration-underline">https://fr.outscale.com/wp-content/uploads/2020/10/Outscale-CGV-2020-09.pdf</a></td>
          </tr>
          <tr>
            <td><strong>SendInBlue</strong></td>
            <td>Envoi de mails</td>
            <td>France</td>
            <td><a href="https://fr.outscale.com/wp-content/uploads/2020/10/Outscale-CGV-2020-09.pdf" target="_blank" class="text-decoration-underline">https://fr.outscale.com/wp-content/uploads/2020/10/Outscale-CGV-2020-09.pdf</a></td>
          </tr>
        </tbody>
      </table>

      <h2>Utilisation de témoins de connexion (« cookies »)</h2>
      <p>Les cookies utilisés sur RDV-Insertion ne sont que des cookies strictement nécessaires au bon fonctionnement du site, au sens des dernières recommandations de la CNIL à ce sujet. RDV-Insertion utilise également des cookies de statistiques anonymes qui ne nécessitent pas de bandeau cookies, toujours au sens des dernières recommandations de la CNIL à ce sujet. RDV-Insertion n'utilise aucun cookies dits "tiers".</p>
      <p>Il convient d'indiquer que&nbsp;</p>
      <ul>
        <li>Les données collectées ne sont pas recoupées avec d’autres traitements.</li>
        <li>Les cookies ne permettent pas de suivre la navigation de l’internaute sur d’autres sites.</li>
      </ul>
      <p>À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant la fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Google Chrome, Mozilla Firefox, Apple Safari et Opera). Pour aller plus loin, vous pouvez consulter les ﬁches proposées par la Commission Nationale de l'Informatique et des Libertés (CNIL)&nbsp;:</p>
      <ul>
        <li><a href="https://www.cnil.fr/fr/cookies-et-traceurs-que-dit-la-loi" target="_blank" class="text-decoration-underline">Cookies et traceurs : que dit la loi ?</a></li>
        <li><a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" class="text-decoration-underline">Cookies : les outils pour les maîtriser</a></li>
      </ul>
    </div>
  </div>
</div>
