<div class="container mt-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <h2 class="text-center"><b>Bienvenue sur rdv-insertion</b></h2>
      <p class="text-center">Ce site est une initiative de <a href="https://beta.gouv.fr/"><u>beta.gouv</u></a> et <a href="https://beta.gouv.fr/startups/data.insertion.html"><u>data.insertion</u></a>, en partenariat avec les conseils départementaux, pour accélérer la prise du premier rendez&#8209vous RSA</p>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-8">
        <div class="card-container">
          <%= link_to departments_path do %>
            <div class="card d-flex flex-row justify-content-between align-content-center card-welcome mb-3">
              <div class="card-body card-welcome-body white">
                <h4 class="white">Je suis agent départemental</h4>
                <p>Je clique ici pour me connecter et accéder à l'interface de mon département.</p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-8">
        <div class="card-container">
          <div class="card d-flex flex-row justify-content-between align-content-center card-welcome no-hover mb-3">
            <div class="card-body card-welcome-body white">
              <h4 class="white">Je suis bénéficiaire du RSA</h4>
              <p>J'ai reçu une invitation à prendre rendez-vous. Je me réfère aux instructions fournies dans le message reçu pour accéder à la prise de rendez-vous (qui s'effectuera sur le site RDV-Solidarités).</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
