<div class="container mt-5">
  <p>Vous allez être redirigé(e) vers la page de connexion de l'application...</p>
  <p>Si ce n'est pas le cas, cliquez simplement sur le bouton "Connexion agent".</p>
</div>
<script type="text/javascript">
  document.querySelector('form[action="/auth/rdvservicepublic"]').submit();
</script>