version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Paris"
    labels:
      - "ci"
    commit-message:
      prefix: "ci"

  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "06:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    groups:
      all-updates:
        patterns:
          - "*"
    ignore:
      - dependency-name: "omniauth-rdv-service-public"
      - dependency-name: "anonymizer"
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "06:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    groups:
      all-updates:
        patterns:
          - "*"
    commit-message:
      prefix: "chore(deps)"
