<% content_for :title, "Configuration - Catégories - #{@organisation.name} - rdv-insertion" %>

<div class="container text-dark-blue mt-5 mb-5">
  <%= render "organisations/configuration/header" %>

  <div class="tab-content mt-4">
    <p class="text-muted">Contenu de l'onglet Catégories à implémenter</p>
  </div>
</div>
