RDV_SOLIDARITES_URL=http://localhost:5000
HOST=http://localhost:8000

# ActiveRecord encryption
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY
ACTIVE_RECORD_KEY_DERIVATION_SALT=ACTIVE_RECORD_KEY_DERIVATION_SALT

# Third-party services
## SMS
BREVO_API_V3_KEY=change_me
## SMS fallback
PRIMOTEXTO_API_KEY=change_me
FORCE_PRIMOTEXTO=true # Set to true only if you want to use Primotexto as SMS provider instead of Brevo
## Emails
BREVO_PASSWORD=change_me
BREVO_USERNAME=change_me
BREVO_INBOUND_PASSWORD=change_me
## Monitoring
SENTRY_DSN=change_me
ENVIRONMENT_NAME=change_me

# ActiveStorage uploads
SCALEWAY_ACCESS_KEY_ID=change_me
SCALEWAY_SECRET_ACCESS_KEY=change_me

# Secret used to verify webhooks coming from rdv solidarites
RDV_SOLIDARITES_SECRET=rdv-solidarites

# Secret used to auth agents when calling rdv-solidarites
SHARED_SECRET_FOR_AGENTS_AUTH=S3cr3T

# Key used to generate agent signature
AGENT_SIGNATURE_KEY="2cdf69c5-6405-41d3-aebd-b2a4e9de4457"

# Mattermost
MATTERMOST_NOTIFICATIONS_CHANNEL_URL=mattermost_notif_channel_url
MATTERMOST_MAIN_CHANNEL_URL=mattermost_main_channel_url
MATTERMOST_PRIVATE_CHANNEL_URL=mattermost_private_channel_url
MATTERMOST_SENTRY_CHANNEL_URL=mattermost_sentry_channel_url

DEPARTMENTS_WHERE_PARCOURS_DISABLED=44

# France Travail Recette
FRANCE_TRAVAIL_AUTH_URL=https://proxyproconnect-r.ft-qvr.net/connexion/oauth2/access_token
FRANCE_TRAVAIL_API_URL=https://api-r.ft-qvr.io
FRANCE_TRAVAIL_CLIENT_ID=client_id
FRANCE_TRAVAIL_CLIENT_SECRET=client_secret

ORGANISATION_IDS_WHERE_STATS_DISABLED=

# Ces valeurs correspondent au seed de RDV Solidarités
RDV_SOLIDARITES_OAUTH_APP_ID=zC24y16rYftyrBgTj8h08g1NZKkwStXWe3E_lLMGoHc
RDV_SOLIDARITES_OAUTH_APP_SECRET=development-EdtuETfEK5Lr_--kx6S_QlItIJov-iThILw6M8IyTus
CRISP_WEBSITE_ID=change_me
ENABLE_CRISP=false

TALLY_NEW_UPLOAD_FORM_ID=change_me