<div>
  <div class="row rdv-insertion-form justify-content-center my-4">
    <div class="mb-4">
      <div class="row d-flex justify-content-start flex-wrap">
        <%= render "common/attribute_input", f:f, attribute: :template_rdv_title_override, value: category_configuration.template_rdv_title_override || template.rdv_title %>
        <%= render "common/attribute_input", f:f, attribute: :template_rdv_title_by_phone_override, value: category_configuration.template_rdv_title_by_phone_override || template.rdv_title_by_phone %>
        <%= render "common/attribute_input", f:f, attribute: :template_user_designation_override, value: category_configuration.template_user_designation_override || template.user_designation %>
        <%= render "common/attribute_input", f:f, attribute: :template_rdv_purpose_override, value: category_configuration.template_rdv_purpose_override || template.rdv_purpose %>
      </div>
    </div>
  </div>
</div>
