<div class="d-flex justify-content-between align-items-center mb-4">
  <%= link_to structure_users_path, class: "btn btn-blue-out" do %>
    Retour
  <% end %>
  <h1 class="h3 mb-0"><%= organisation.name %></h1>
  <%= link_to organisation.rdv_solidarites_configuration_url, target: "_blank", class: "btn btn-blue" do %>
    Voir sur RDV-Solidarités <i class="ri-external-link-line ms-1"></i>
  <% end %>
</div>

<%= render "organisations/configuration/tabs_navigation", tab: tab, organisation: organisation %>
