<h4 class="pt-3 pb-5">À la suite de votre demande de RSA, un email et/ou un SMS va vous être transmis dans les prochains jours par le Conseil départemental pour fixer un rendez-vous d’accompagnement avec un professionnel de l’insertion.</h4>
<h4 class="text-danger"><strong>Veuillez cliquer sur le lien contenu dans ce mail/SMS pour choisir un créneau à votre convenance.</strong></h4>
