<h4 class="pt-3 pb-5">Si votre droit RSA est accordé, vous recevrez un SMS et/ou un mail du Département pour fixer un rendez-vous d'orientation.</h4>
<h4 class="text-danger"><strong>Il vous suffira de cliquer sur le lien pour choisir un créneau à votre convenance.</strong></h4>
<h4 class="pt-3 pb-5">Lors de ce rendez-vous, vous rencontrerez un professionnel de l'insertion pour faire le point sur votre situation.</h4>
