<h3 class="pt-3 pb-5">Si vous résidez dans la commune d’ANNEMASSE (74100), vous êtes concerné(e) par une expérimentation du Conseil départemental de Haute-Savoie visant à faciliter votre prise de rendez-vous RSA.
</h3>
<h5>À la suite de votre demande de RSA, un email et/ou un SMS va vous être transmis dans les prochains jours par le Conseil départemental pour fixer un rendez-vous d’accompagnement avec un professionnel de l’insertion. Veuillez cliquer sur le lien contenu dans ce mail/SMS pour choisir un créneau à votre convenance.</h5>
<br/>
<p><u>Commune concernée&nbsp;:</u><mark> ANNEMASSE (74100).</mark></p>
<br/>
<p>Si vous ne résidez pas dans la commune d’Annemasse, vous n’êtes pas concerné(e) par ces modalités de prise de rendez-vous et serez convié(e) à votre rendez-vous d’accompagnement par courrier postal.</p>
