<p>
  Si vous rencontrez une difficulté pour accéder à internet, veuillez appeler le <%= invitation.help_phone_number_formatted %><% if help_address.present? %> ou vous rendre <%= help_address %><% end %> dès réception de ce courrier.
</p>
