<%= link_to structure_follow_up_closings_path(follow_up_id: follow_up.id, user_id: follow_up.user_id), method: :post do %>
  <button class="btn btn-blue-out" data-controller="tooltip" data-action="mouseover->tooltip#closeFollowUpButton">
    <i class="fas fa-lock"></i> Fermer le suivi
  </button>
<% end %>
