<%= link_to structure_follow_up_closings_path(follow_up.id), method: :post do %>
  <button class="btn btn-blue-out" data-controller="tooltip" data-action="mouseover->tooltip#closeFollowUpButton">
    <i class="fas fa-lock"></i> Fermer le suivi
  </button>
<% end %>
