<%=
  link_to(
    new_convocation_path(motif_category_id: motif_category_id, organisation_ids: organisation_ids, user_id: user_id),
    data: { turbo_frame: 'remote_modal' }
  ) do
%>
  <button class="btn btn-blue" <%= "disabled" if user_is_archived %>>
    📅 Convoquer <i class="fas fa-external-link-alt icon-sm"></i>
  </button>
<% end %>

