<div>
  <span class="small">
    <% if deliverable.delivery_failed? %>
      <span class="text-danger">
        Non délivrée
        <i
          class="ri-error-warning-fill"
          <%= tooltip(content: not_delivered_tooltip_content(format), placement: "top") %>
        >
        </i>
      </span>
    <% else %>
      <%= deliverable.human_delivery_status_and_date %>
    <% end %>
  </span>
</div>
