<% if max_number_of_invitations_in_any_format == 0 %>
  <tr>
    <% invitation_formats.each do |format| %>
      <td class="px-4 py-3">-</td>
    <% end %>
  </tr>
<% else %>
  <% max_number_of_invitations_in_any_format.times do |idx| %>
    <tr class="<%= idx == 0 ? "motif-category-#{motif_category.id}-last-invitations" : "d-none motif-category-#{motif_category.id}-other-invitations" %>">
      <% invitation_formats.each do |format| %>
        <td class="px-4 py-3">
          <% if invitations_by_format[format]&.fetch(idx, nil).present? %>
            <% invitation = invitations_by_format[format].fetch(idx, nil) %>
            <%= format_date(invitation.created_at) %>
            <%= render "follow_ups/delivery_status", deliverable: invitation, format: format %>
          <% elsif idx == 0 %>
            -
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
