<% if existing_action?(collection_presenter.resource_name, :edit) %>
  <td><%= link_to(
    t("administrate.actions.edit"),
    [:edit, namespace, resource],
    class: "action-edit",
  ) if accessible_action?(resource, :edit) %></td>
<% end %>

<td>
  <%= form_for(:webhook_endpoint, url: duplicate_super_admins_webhook_endpoint_path(resource), method: :post) do |f| %>
    <%= f.hidden_field :target_id, value: nil %>
    <button
      type="button"
      data-controller="super-admins--webhook-endpoints"
      data-action="click->super-admins--webhook-endpoints#duplicateWebhookEndpoint"
    >
      Dupliquer
    </button>
  <% end %>
</td>