<%= link_to rdv_context_closings_path(rdv_context.id, organisation_id: organisation.id, department_id: department_level? ? department.id : nil, user_id: user.id), method: :post do %>
  <button class="btn btn-blue" data-controller="tooltip" data-action="mouseover->tooltip#closeRdvContextButton">
    Clôturer "<%= rdv_context.motif_category.name %>"
  </button>
<% end %>
