<%= link_to rdv_context_closings_path(rdv_context.id), data: { turbo_frame: "user_page" }, method: :post do %>
  <button class="btn btn-blue-out" data-controller="tooltip" data-action="mouseover->tooltip#closeRdvContextButton">
    <i class="fas fa-lock"></i> Fermer le suivi
  </button>
<% end %>
