<%=
  link_to(
    new_convocation_path(motif_category_id: motif_category_id, organisation_ids: organisation_ids, applicant_id: applicant_id),
    target: "_blank"
  ) do
%>
  <button class="btn btn-warning">
    📅 Convoquer <i class="fas fa-external-link-alt icon-sm"></i>
  </button>
<% end %>

