<%= render "common/remote_modal", title: "Sélectionnez un contexte d'invitation" do %>
  <%= simple_form_for(rdv_context, url: applicant_rdv_contexts_path(applicant), html: { method: :post }, data: { "turbo-frame" => "_top" }) do |f| %>
      <div class="form-group">
        <%= f.input :motif_category,
                    as: :select,
                    collection: motif_categories.map { |c| [Configuration::MOTIF_CATEGORIES_NAMES_MAPPING[c], c] },
                    include_blank: false,
                    input_html: { class: "form-control" }
        %>
      </div>
      <div class="form-group text-center">
        <%= f.button :submit, "OK", class: "btn btn-blue" %>
      </div>
    </div>
  <% end %>
<% end %>
