<%= link_to rdv_context_closings_path(rdv_context.id), method: :delete do %>
  <button class="btn btn-blue"  data-controller="tooltip" data-action="mouseover->tooltip#reopenRdvContextButton">
    Rouvrir "<%= rdv_context.motif_category.name %>"
  </button>
<% end %>
