<%= link_to rdv_context_closings_path(rdv_context.id), method: :delete do %>
  <button class="btn btn-blue"  data-controller="tooltip" data-action="mouseover->tooltip#reopenRdvContextButton">
    <i class="fas fa-lock-open"></i> Rouvrir
  </button>
<% end %>
