<%= render "common/remote_modal" do %>
  <div class="modal-body pt-0">
    <div id="custom-body" class="w-100 mb-4">
      <div class="w-100 text-center mb-3">
        <%= image_tag "illustrations/success.svg", alt: "Illustration d'un message de succès", class: "mb-3" %>
        <h5 class="mt-2">L'envoi d'invitation à l'usager <strong><%= @user_row.user.to_s %></strong> a été réussie</h5>
      </div>
      <div class="text-center">
        <%= link_to "OK", "#", class: "text-center btn btn-blue", data: { bs_dismiss: "modal", controller: "refresh-page-periodically" } %>
      </div>
    </div>
  </div>
<% end %>