<div class="fullscreen-banner d-flex" data-controller="full-screen-banner">
  <div class="container pt-2 pb-3 px-5">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between  flex-column">
          <h5>
            <i class="ri-information-line me-1 fs-4"></i>
            Vous êtes sur l’ancienne interface de création et d’invitation des usagers.
          </h5>
        <p class="mb-0">
          Cette interface vient d’être rénovée. Cette version ne sera plus disponible à partir du 01 mai 2025. Vous pouvez 
          <%= link_to "essayer la nouvelle version.", new_structure_user_list_uploads_category_selection_path, class: "btn-link" %>
        </p>
      </div>
      <button class="btn text-white align-self-start p-0" data-action="click->full-screen-banner#close">
          <i class="ri-close-line fs-4"></i>
      </button>
    </div>
  </div>
</div>
