<% content_for :title, "Importer des usagers - #{current_structure.name} - rdv-insertion" %>

<div class="container mt-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <p class="text-center">Sélectionnez dans quelle catégorie vous souhaitez créer et rattacher les usagers:</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-8 d-flex justify-content-between">
      <div>
        <%= link_to(new_structure_upload_path(category: "none"), class: "btn btn-blue-out") do %>
          Aucune catégorie de suivi
          <i
            class="ri-question-line"
            <%= tooltip(
                  content: "L'usager apparaitra dans l'onglet 'Tous les contacts' seulement. " \
                            "En choisissant cette option vous ne pourrez pas inviter l'usager à prendre rdv à l'upload du fichier " \
                            "(mais vous pourrez le faire ultérieurement en accédant à sa fiche)."
                )
            %>
          >
          </i>
        <% end %>
      </div>
      <% @all_configurations.each do |category_configuration| %>
        <div>
          <%= link_to(new_structure_upload_path(category_configuration_id: category_configuration.id), class: "btn btn-blue-out") do %>
            <%= category_configuration.motif_category_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
