<h1>Conditions générales d’utilisation</h1>
<p>Version en date du 1er novembre 2024</p>
<p>Les présentes conditions générales d’utilisation (dites « CGU ») fixent le cadre juridique de “rdv-insertion” et définissent les conditions d’accès et d’utilisation des services par l’Utilisateur.</p>

<h2>Article 1 - Champ d’application</h2>
<p>L’application rdv-insertion est un outil ouvert aux organisations, notamment les conseils départementaux, France Travail et les structures d’insertion proposant des rendez-vous de suivi et d’accompagnement à leurs usagers. Il est également ouvert de manière indirecte aux usagers, bénéficiaires de cet accompagnement facilité.</p>

<h2>Article 2 – Objet</h2>
<p>
  L’application rdv-insertion est une plateforme numérique qui constitue un outil de prise de rendez-vous pour les usagers des services d’insertion des départements ou de toute structure travaillant avec les départements. Cet outil permet à l’usager de prendre rendez-vous facilement en ligne avec son ou ses professionnels accompagnateur(s). La plateforme organise et fluidifie les rendez-vous du parcours d'insertion pour les bénéficiaires du RSA et les candidats et salariés à l’insertion par l’activité économique (IAE) qui choisissent un créneau à la suite de la réception d’un sms et/ou d’un mail. L’objectif est d’accélérer le parcours d’insertion.
</p>

<h2>Article 3 – Définitions</h2>
<p>« L'Utilisateur » est tout personne utilisant la plateforme numérique ou tout bénéficiaire du RSA ou agent de RDV Solidarités.</p>
<p>« Le responsable de traitement » est la personne morale ou physique qui détermine les finalités et les moyens d’un traitement, donc l’objectif et la manière de réaliser ce traitement.</p>
<p>« L’administrateur » est la personne responsable habilitée disposant de droits étendus au sein d’une organisation. Il peut s’agir des profils de directeurs, chefs de service et responsable d’équipe des organisations. Il est créé par l’équipe de rdv-insertion et est habilité à créer des professionnels au sein de sa structure. Il a par ailleurs accès aux paramètres de l’outil (modification des informations de la structure, des contextes de rendez-vous, des lieux de réception du public, des motifs de rendez-vous) et peut exporter les données de rdv-insertion. Il peut signer et engager la structure.</p>
<p>« Le professionnel » est l’agent d’une organisation habilité par un administrateur à accéder à l’environnement de ladite organisation. Il peut s’agir des profils secrétaires, conseillers en insertion et référents recevant les usagers en rendez-vous, chargés de mission, assistants techniques. Il dispose de droits réduits sur l’outil, ne pouvant pas accéder aux paramètres et, ainsi, n’ayant pas la capacité d’inviter d’autres professionnels sur l’outil.  </p>
<p>« L’usager » est la personne qui est accompagnée par les organisations utilisant rdv-insertion et concerné par les rendez-vous. Il peut s’agir de bénéficiaires du revenu de solidarité active (RSA) ou d’usagers accédant à l’insertion par l’activité économique (IAE). Son compte est uniquement créé par les administrateurs ou les professionnels. Il accède à l’interface pour prendre, modifier ou annuler un rendez-vous (choix du créneau / lieu de sa convenance). </p>
<p>Les « Organisations » sont les organismes « personnes morales » qui utilisent rdv-insertion pour plusieurs contextes de rendez-vous d’insertion. Il peut uniquement s’agir d’un des types d’organisations suivants : conseil départemental, France Travail, délégataires RSA, structures d’insertion par l’activité économique (SIAE). </p>
<p>Les « Services » sont les fonctionnalités offertes par rdv-insertion pour répondre à ses finalités.</p>

<h2>Article 4 – Fonctionnalités </h2>
<h4>A – Création des comptes</h4>
<p>La création de compte dans rdv-insertion se fait via 2 profils : « administrateur » et « professionnel ». </p>
<b><i>Création du profil « administrateur »</i></b>
<p>Le profil administrateur est le compte gestionnaire d’une personne habilitée au sein d’une organisation. L’organisation doit être créée par l’équipe rdv-insertion sur l’application RDV Service Public avant intégration sur rdv-insertion. L’administrateur reçoit un message d’invitation leur demandant d’indiquer leur nom, prénom, fonction et de choisir un mot de passe robuste via Pro Connect. Ils peuvent ensuite se connecter sur une page dédiée www.rdv-insertion.fr/sign_in en saisissant leur couple adresse e-mail/mot de passe précédemment défini. L’administrateur peut créer un autre profil administrateur. </p>
<p>Chaque administrateur certifie avoir habilitation ou autorité à créer un tel profil et engager juridiquement son organisation. </p>
<b><i>Création du profil « professionnel »</i></b>
<p>Le profil professionnel est autorisé par un profil administrateur. Le profil est créé par le profil administrateur (ou par l’équipe rdv-insertion) sur l’application RDV Service Public avant intégration sur rdv-insertion. Le professionnel reçoit un message d’invitation leur demandant d’indiquer leur nom, prénom, fonction et de choisir un mot de passe robuste via Pro Connect. Ils peuvent ensuite se connecter sur une page dédiée www.rdv-insertion.fr/sign_in en saisissant leur couple adresse e-mail/mot de passe précédemment défini.</p>

<h4>B – Gestion des usagers</h4>
<p>Les professionnels peuvent créer des usagers par trois moyens :</p>
<ul>
  <li>via un formulaire de création dans rdv-insertion ;</li>
  <li>via le téléchargement d’un fichier plat qui est intégré des personnes concernées ;</li>
  <li>par l’intermédiaire de leur système d’information en appelant l’API de rdv-insertion permettant de créer des usagers.</li>
</ul>
<p>Ces trois moyens permettent la création d’une fiche usager. Ces fiches peuvent être consultées, modifiées et complétées par les professionnels, ou le cas échéant, mises à jour sur l’application Rdv-Service public.</p>

<p>La fiche usager permet aux professionnels :</p>
<ul>
  <li>D’ajouter un tag : un ou plusieurs libellés peuvent être ajoutés sur une fiche usager. Ces libellés sont configurables au niveau de chaque organisation uniquement par les profils administrateurs et peuvent ensuite être assignés sur les fiches usagers par les profils administrateurs basiques ; </li>
  <li>D’archiver : à des fins métiers, des fiches usagers peuvent être archivées par les professionnels car l’usager n’est plus suivi par l’organisation. Lors de l’archivage, un motif est alors indiqué par les professionnels (champs libres) ; </li>
  <li>D’ajouter à une autre organisation : les professionnels peuvent orienter l’usager vers une autre structure utilisatrice habilitée de rdv-insertion pour que l’usager puisse y bénéficier d’un rendez-vous dans le cadre de la suite de son parcours. Lors de l’ajout à une organisation, l’envoi d’un mail à ladite organisation est possible directement depuis l'interface ;</li>
  <li>D’ajouter un référent : les professionnels peuvent assigner un référent à chaque usager. La liste des référents correspond à la liste des utilisateurs de l’application habilités de l’organisation en question</li>
</ul>

<h4>C - Prise de rendez-vous des usagers</h4>
<p>Les professionnels invitent les usagers à prendre rendez-vous par mail, SMS et/ou génèrent un courrier postal qu’ils peuvent ensuite télécharger, le courrier postal étant in fine envoyé via leur propre modalité de postage. Ces actions peuvent être réalisées depuis la page de chargement du fichier (de façon massive ou individuelle), depuis la liste des usagers de l’organisation ou dans la fiche de chaque usager créé. </p>
<p>Les invitations génèrent des dates d’invitation et des statuts de délivrance des messages qui sont affichées dans l’onglet « Rendez-vous » de chaque usager. </p>
<p>Les utilisateurs de rdv-insertion peuvent renseigner le statut des rendez-vous. </p>

<h4>D – Consultation des listes d’usagers</h4>
<p>Les listes des usagers des organisations peuvent être consultées par les professionnels habilités à accéder auxdites organisations. Dans chaque organisation, il existe une liste générale reprenant tous les usagers puis des listes par « catégories de rendez-vous » qui ne filtrent que les seuls usagers concernés par lesdits rendez-vous.</p>
<p>Sur ces listes, les professionnels disposent d’un système de filtrage (par date de rendez-vous, par référent, par date de création et date d’invitation, par tag) visant à faciliter leur consultation.</p>
<p>Une barre de recherche existe et fonctionne sur l’un des attributs suivants : Prénom, nom, e-mail, téléphone, numéro CAF. </p>

<h4>E – Export des listes d’usagers</h4>
<p>Les profils administrateurs ont accès à une fonctionnalité d’export des listes des usagers et de leurs rendez-vous – filtrées ou non – au format .csv. Ces exports – qui sont téléchargeables en cliquant sur un lien à expiration (48h). Lors du clic sur le lien à expiration, une sécurité supplémentaire vérifie que l’agent qui télécharge dispose bien d’un profil habilité sur rdv-insertion.</p>

<h2>Article 5 – Responsabilité de l’éditeur</h2>

<p>L'éditeur s'engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. En particulier, il s’engage à ne pas publier ou envoyer de message racistes, sexistes, injurieux, insultants ou contraires à l’ordre public. Toute usurpation d’identité entraîne la suppression immédiate du compte, et le cas échéant des poursuites pénales.</p>
<p>Il s’autorise à suspendre ou révoquer n'importe quel compte et toutes les actions réalisées par ce biais, s’il estime que l’usage réalisé du service porte préjudice à son image, comporte des de message racistes, sexistes, injurieux, insultants ou contraires à l’ordre public ou ne correspond pas aux exigences de sécurité.</p>
<p>Les sources des informations diffusées sur le site sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
<p>L’éditeur s’engage à la sécurisation du site, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Il le réalise dans la limite des capacités techniques liées au chiffrement. </p>
<p>L’éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu au site. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le site pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>

<h2>Article 6 - Responsabilité de l’administrateur</h2>
<p>Toute information transmise par l'administration est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende. L’administrateur assure être la personne habilitée à engager son organisation contractuellement.</p>
<p>Toute usurpation d’identité entraîne la suppression immédiate du compte, et le cas échéant des poursuites pénales. Lorsqu’un profil administrateur fait l’objet d’une telle usurpation, le compte est suspendu par l’éditeur. Celui-ci prend contact avec l’organisation et effectue les vérifications nécessaires.</p>
<p>L'administrateur s'engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. En particulier, tout commentaire, propos ou message, à quelque endroit que ce soit au sein de rdv-insertion, comportant des éléments racistes, sexistes, injurieux ou insultants est interdit et pourra entrainer, la suspension du compte par l’éditeur. </p>
<p>L’administrateur s’assure que les comptes professionnels de son organisation sont autorisés à avoir accès aux informations confidentielles contenues sur rdv-insertion. Il garantit leur accès.</p>
<p>L’administrateur des organisations « Conseil départemental » autorise la création des comptes et profils relatifs à tout délégataire de service public relevant de son territoire.</p>

<h2>Article 7 – Responsabilité du professionnel </h2>
<p>Toute information transmise par le professionnel est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose, notamment, aux sanctions prévues à l’article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu’à trois ans d’emprisonnement et 45 000 euros d’amende.</p>
<p>Toute usurpation d’identité entraîne la suppression immédiate du compte, et le cas échéant des poursuites pénales. Lorsqu’un profil professionnel fait l’objet d’une telle usurpation, le compte est suspendu par l’éditeur. Celui-ci prend contact avec un compte administrateur et effectue les vérifications nécessaires.</p>
<p>Le professionnel s'engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur. En particulier, tout commentaire, propos ou message, à quelque endroit que ce soit au sein de rdv-insertion, comportant des éléments racistes, sexistes, injurieux ou insultants est interdit et pourra entrainer la suspension du compte par l’éditeur. </p>

<h2>Article 8 - Sécurité des comptes et exports de données</h2>
<p>Tout utilisateur s'assure de garder son mot de passe secret. Celui-ci respecte les recommandations de robustesse de la CNIL (14 caractères, dont 1 minuscule, 1 majuscule, 1 signe spécial et 1 chiffre). Au-delà de 10 tentatives, le compte sera bloqué pour une durée de 24 heures. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à la divulgation de son adresse électronique et mot de passe, et de manière générale à toute négligence liée à la confidentialité de ces éléments.</p>
<p>Sans préjudice des obligations spécifiques de sécurité déjà prévues par les présentes Conditions générales d’utilisation, les administrateurs sont tenus de veiller à exporter les données qu’elles manipulent sur un environnement sécurisé, notamment sur un disque dur chiffré. Tout export fait dans des conditions non sécurisées est de la responsabilité de l’administrateur. Il revient également à chaque titulaire de compte réalisant un export de s’assurer de la conformité du traitement de données ultérieur réalisé.</p>

<h2>Article 9 - Mise à jour des conditions d’utilisation</h2>
<p>Les termes des CGU doivent être acceptés au moment de la connexion. Toute modification des CGU réalisée en fonction des modifications apportées au site, de l’évolution de la législation ou pour tout autre motif jugé nécessaire, nécessite votre consentement.</p>