<% content_for :title, "Accessibilité - rdv-insertion" %>

<div class="container legal-notice mb-4">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-10">
      <h1>Accessibilité</h1>

      <h2>Déclaration d'accessibilité</h2>
      <p>La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous. Pour en savoir plus sur la politique d’accessibilité numérique de l’État : <a href="http://references.modernisation.gouv.fr/accessibilite-numerique" target="_blank">http://references.modernisation.gouv.fr/accessibilite-numerique</a></p>
      <p>Le GIP Plateforme de l’inclusion s’engage à rendre ses sites internet et applications accessibles conformément à l’article 47 de la loi n°2005-102 du 11 février 2005.</p>

      <p>
        Son schéma pluriannuel décrit les points importants sur lesquels le GIP de la plateforme de l’inclusion s’appuiera pour améliorer l’accessibilité numérique de l’ensemble de ses sites internet et applications. Ce schéma s’accompagne de plans d’action annuels (<a  target="_blank" href="https://rdv-insertion-medias-production.s3.fr-par.scw.cloud/assets/GIP_plateforme_de_linclusion_-_Plan_annuel_daccessibilite_2023.pdf" rel="nofollow">2023</a>) qui détaillent les opérations programmées et mises en œuvre pour l'année courante, ainsi que l’état de suivis de ces actions, 
        détaillé dans le <a target="_blank" href="https://rdv-insertion-medias-production.s3.fr-par.scw.cloud/assets/GIP_plateforme_de_linclusion_-_Schema_pluriannuel_daccessibilite_2023-2026.pdf" rel="nofollow">schéma pluriannuel d’accessibilité 2023-2026</a>. NB : ce schéma peut ne pas être à jour de l'ensemble des actions conduites par la Plateforme de l'inclusion en matière d'accessibilité.
      </p>

      <h2>État de conformité</h2>
      <p>RDV-Insertion est non conforme avec le RGAA 4.1.2. Le site n’a pas encore été audité.</p>

      <h2>Amélioration et contact</h2>
      <p>En 2025, l'équipe rdv-insertion cherche à améliorer l'accessibilité du produit en initiant plusieurs chantiers.</p>
      <p>Tout d'abord, une mise à jour des couleurs des différentes pages web de rdv-insertion sera réalisée.</p>
      <p>Par ailleurs, le site web rdv-insertion.fr va être entièrement refondu afin d'adopter les exigences du Design System de l'Etat (DSFR) et d'accroître l'accessibilité du site.</p>
      <p>Nous allons notamment veiller à prendre en compte les contrastes et tailles de typographie tels que préconisés par le DSFR, à offrir à nos utilisateurs la possibilité de naviguer au clavier (en prêtant attention à la hiérarchisation des éléments, aux titres ainsi qu'à la structure des pages) ou bien à offrir des alternatives aux éléments visuels telles que les images et les vidéos.</p>
      <p>Enfin, dans un souci d'amélioration continue, l'équipe produit et technique de rdv-insertion cherchera, pour chaque nouveau développement, à intégrer des critères d'accessibilité comme critère de validation.</p>
      <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter RDV-Insertion pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>
      <ul>
        <li>E-mail : <a href="mailto:rdv-insertion@inclusion.gouv.fr">rdv-insertion@inclusion.gouv.fr</a></li>
        <li>Adresse : 6 Boulevard Saint-Denis, 75010 PARIS</li>
      </ul>

      <h2>Voie de recours</h2>
      <p>Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>
      <p>Vous pouvez :</p>
      <ul>
        <li>Écrire un message au Défenseur des droits</li>
        <li>Contacter le délégué du Défenseur des droits dans votre région</li>
        <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) : Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07</li>
      </ul>
    </div>
  </div>
</div>
