<% content_for :title, "Mentions légales - rdv-insertion" %>

<div class="container legal-notice mb-4">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-10">
      <h1>Mentions légales</h1>

      <h2>Éditeur</h2>
      <p>Le site rdv-insertion est édité par le Groupement d’intérêt public « Plateforme de l’inclusion » :</p>
      <p>127 rue de Grenelle<br/>
      75007 Paris<br/>
      SIRET : 130 030 133 00016<br/>
      SIREN : 130 030 133</p>

      <h2>Code source</h2>
      <p>Le code source est disponible à cette adresse : <a href="https://github.com/betagouv/rdv-insertion" target="_blank">https://github.com/betagouv/rdv-insertion</a>
      </p>

      <h2>Directeur de la publication</h2>
      <p>Monsieur Arnaud Denoix, Directeur du GIP Plateforme de l'inclusion</p>

      <h2>Hébergement</h2>
      <p>Ce site est hébergé par :</p>
      <p>Outscale SASU<br/>
      1 rue Royale - 319 Bureaux de la Colline<br/>
      92210 Saint-Cloud</p>

      <h2>Sécurité</h2>
      <p>Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges.</p>
    </div>
  </div>
</div>
