<% content_for :title, "Politique de confidentialité - rdv-insertion" %>

<div class="container legal-notice mb-4">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-10">
      <h1>Politique de confidentialité</h1>

      <h2>Qui est responsable de rdv-insertion ?</h2>
      <p>La plateforme dénommée « rdv-insertion » constitue un outil de prise de rendez-vous pour les usagers engagés dans une démarche d’insertion socio-professionnelle, notamment les bénéficiaires du RSA. C’est un outil à l’ambition simple – permettre à l’usager de prendre rendez-vous en ligne avec les professionnels de la structure qui l’accompagne – mais à l’impact majeur.</p>
      <p>La plateforme vise à organiser et fluidifier le rendez-vous d’orientation et/ou d’accompagnement pour les bénéficiaires du RSA, demandeurs d’emploi ou candidats et salariés des structures d’insertion par l’activité économique. Cela permettra d’accélérer les délais de parcours d’insertion des usagers et de réduire les taux d’absentéisme auxdits rendez-vous.</p>
      <p>Chaque organisme utilisant rdv-insertion est responsable de traitement.  </p>

      <h2>Pourquoi le responsable de traitement manipule ces données ?</h2>
      <p>Le responsable de traitement peut être amené à manipuler les données pour :</p>
      <ul>
        <li>accélérer l’entrée dans le parcours d’insertion des usagers</li>
        <li>limiter l’absentéisme des usagers en insertion à leur rendez-vous </li>
        <li>faciliter l’usage de rdv-solidarités par les acteurs utilisant rdv-insertion</li>
      </ul>

      <h2>Quelles sont les données que nous manipulons ?</h2>
      <p>Dans le cadre de l'utilisation de la plateforme rdv-insertion, les données suivantes sont traitées&nbsp;:</p>
      <ul>
        <li><strong>Données relatives au compte agent :</strong> e-mail</li>
        <li><strong>Données relatives à la fiche "Usager" :</strong> civilité, nom, prénom, de manière obligatoire, nom de naissance, date de naissance, adresse e-mail, numéro de téléphone, adresse, NIR, numéro d'allocataire, rôle, date d’ouverture des droits, justification de l’archivage d’un dossier (commentaire libre), date d’orientation</li>
        <li><strong>Données relatives aux rendez-vous :</strong> lieu, horaire, date, informations relatives à la présence ou absence de la personne concernée</li>
        <li><strong>Données de localisation :</strong> adresse</li>
        <li><strong>Cookies</strong></li>
      </ul>

      <p>Chaque responsable de traitement ne peut traiter des données que s’il dispose d’une base légale conforme à la réglementation. </p>

      <h2>Durée de conservation</h2>
      <p>Chaque responsable de traitement choisit la durée de conservation des données et est chargé d’informer les bénéficiaires qu’il suit. Le cas échéant, les durées de conservations par défaut sont les suivantes : Les données sont conservées jusqu'à la suppression du compte (pour les agents et leurs données), ou 2 ans après l’inactivité du compte ou la fin du suivi de parcours de la personne concernée.</p>
      
      <h2>Quels sont vos droits ?</h2>
      <p>Vous disposez des droits suivants concernant vos données à caractère personnel :</p>
      <ul>
        <li>Un droit d’information et un droit d’accès à vos données ;</li>
        <li>Un droit de rectification de vos données ;</li>
        <li>Un droit d’opposition ;</li>
        <li>Un droit à la limitation du traitement de vos données.</li>
      </ul>
      <p>Pour les exercer, vous pouvez : </p>
      <ul>
        <li>Contacter l’organisme qui vous accompagne pour qu’il fasse respecter vos droits</li>
        <li>Contacter le GIP « Plateforme de l’inclusion », notamment pour les personnes suivies dans le cadre de l’IAE. Dans ce cas faites-nous parvenir une demande en précisant la date et l’heure précise de la requête - ces éléments sont indispensables pour nous permettre de retrouver votre recherche - par voie électronique à l’adresse suivante : rgpd@inclusion.gouv.fr  . Si nous recevons une demande qui ne concerne pas l’IAE nous nous engageons à transmettre la demande à l’organisme responsable de traitement pour qu’il puisse répondre promptement.</li>
      </ul>
      <p>Vous pouvez exercer vos droits également en adressant un courrier à l’attention du Délégué à la Protection des Données du GIP Plateforme de l’inclusion par courrier : </p>
      <p>GIP Plateforme de l’inclusion<br/>
         6 boulevard Saint-Denis<br/>
         75010 Paris
      </p>
      <p>Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une preuve de votre identité. Pour vous aider dans votre démarche, <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces" target="_blank" class="text-decoration-underline">vous trouverez ici</a> un modèle de courrier élaboré par la Cnil.</p>

      <h2>Délais de réponse</h2>
      <p>Le responsable de traitement et l’équipe responsable de rdv-insertion s’engage à répondre dans un délai raisonnable qui ne saurait dépasser 1 mois à compter de la réception de votre demande.</p>

      <h2>Qui sont les destinataires des données ?</h2>
      <p>Le responsable de traitement s'engage à ce que les données à caractères personnels soient traitées par les seules personnes autorisées et notamment :</p>
      <ul>
        <li>L'ANCT et spécifiquement « l’équipe RDV-Solidarités » ;</li>
        <li>Les départements ou organismes utilisant rdv-insertion pour les seules personnes travaillant ou prenant rendez-vous chez eux.</li>
      </ul>

      <h2>Quelles mesures de sécurité mettons-nous en place ?</h2>
      <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
      <ul>
        <li>Stockage des données en base de données ;</li>
        <li>Stockage des mots de passe en base hachée ;</li>
        <li>Chiffrement des données ;</li>
        <li>Cloisonnement des données ;</li>
        <li>Mesures de traçabilité ;</li>
        <li>Surveillance ;</li>
        <li>Protection des réseaux ;</li>
        <li>Sauvegarde ;</li>
        <li>Mesures restrictives limitant l’accès physiques aux données à caractère personnel.</li>
      </ul>

      <h2>Qui sont nos sous-traitants ?</h2>
      <p>Certaines données sont envoyées à des sous-traitants pour réaliser certaines missions. Les responsables de traitement se sont assurés de la mise en œuvre par ses sous-traitants de garanties adéquates et du respect de conditions strictes de conﬁdentialité, d’usage et de protection des données.</p>
      <table class="table table-responsive">
        <thead>
          <th>Partenaire</th>
          <th>Traitement</th>
          <th>Pays destinataire</th>
          <th>Garanties</th>
        </thead>
        <tbody>
          <tr>
            <td><strong>Outscale SASU</strong></td>
            <td>Hébergement</td>
            <td>France</td>
            <td><a href="https://fr.outscale.com/contact-donnees-personnelles/" target="_blank" class="text-decoration-underline">https://fr.outscale.com/contact-donnees-personnelles/</a></td>
          </tr>
          <tr>
            <td><strong>Scalingo</strong></td>
            <td>Infogérance</td>
            <td>France</td>
            <td><a href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles" target="_blank" class="text-decoration-underline">https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles</a></td>
          </tr>
          <tr>
            <td><strong>Brevo</strong></td>
            <td>Envoi de mails et SMS</td>
            <td>France</td>
            <td><a href="https://www.brevo.com/fr/legal/privacypolicy/" target="_blank" class="text-decoration-underline">https://www.brevo.com/fr/legal/privacypolicy/</a></td>
          </tr>
          <tr>
            <td><strong>Scaleway</strong></td>
            <td>Stockage et hébergement des fichiers mis en ligne par les agents</td>
            <td>France</td>
            <td><a href="https://www-uploads.scaleway.com/DPA_2024_ENG_b0abb5cc26.pdf " target="_blank" class="text-decoration-underline">https://www-uploads.scaleway.com/DPA_2024_ENG_b0abb5cc26.pdf</a></td>
          </tr>
        </tbody>
      </table>

      <h2>Cookies</h2>
      <p>En application de l’article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l’article 82 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts.</p>
      <p>Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l’article 82 de la loi n°78-17 du 6 janvier 1978.</p>
      <p>Les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consenti par l’utilisateur.</p>
      <p>Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l'article 6-a du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.</p>
      <p>Les cookies utilisés sur rdv-insertion ne sont que des cookies strictement nécessaires au bon fonctionnement du site, au sens des dernières recommandations de la CNIL à ce sujet. rdv-insertion utilise également des cookies de statistiques anonymes qui ne nécessitent pas de bandeau cookies, toujours au sens des dernières recommandations de la CNIL à ce sujet. rdv-insertion n'utilise aucun cookies dits "tiers".</p>

      <p>Il convient d'indiquer que&nbsp;</p>
      <ul>
        <li>Les données collectées ne sont pas recoupées avec d’autres traitements.</li>
      </ul>
      <p>À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant la fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Google Chrome, Mozilla Firefox, Apple Safari et Opera). Pour aller plus loin, vous pouvez consulter les ﬁches proposées par la Commission Nationale de l'Informatique et des Libertés (CNIL)&nbsp;:</p>
      <ul>
        <li><a href="https://www.cnil.fr/fr/cookies-et-traceurs-que-dit-la-loi" target="_blank" class="text-decoration-underline">Cookies et traceurs : que dit la loi ?</a></li>
        <li><a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank" class="text-decoration-underline">Cookies : les outils pour les maîtriser</a></li>
      </ul>
    </div>
  </div>
</div>
