<p>Bonjour <%= @agent.first_name %>,</p>

<p>Voici votre code de connexion pour accéder à l'interface Super Admin :</p>

<p class="aligncenter"><strong><%= @token %></strong></p>

<p>Ce code est valide pendant 10 minutes.</p>

<p><strong>Si vous n'êtes pas à l'origine de cette demande, veuillez en informer l'équipe technique.</strong></p>

<p>L'équipe rdv-insertion</p>
