<div id="agents_list" class="col-12 col-md-6 px-5">
  <h4 class="label-blue"><%= Applicant.human_attribute_name(:agents) %></h4>
  <p><%= agents.map(&:to_s).join(", ").presence || " - " %></p>
</div>
