<div class="col-12 text-center">
  <% if no_search_results?(@applicants.to_a) %>
    <h4 class="py-4">Aucun allocataire ne correspond à votre recherche</h4>
  <% else %>
    <%= render archived_scope?(@applicants_scope) ? "applicants_archived_table" : "applicants_table_for_motif_category" %>
    <%= render "applicants_list_pagination" %>
  <% end %>
</div>
