<% if rdv_context.status == "closed" %>
  <%= link_to rdv_context_closings_path(rdv_context.id, organisation_id: params[:department_id], department_id: params[:department_id], applicant_id: applicant.id), method: :delete do %>
    <div data-controller="tooltip" data-action="mouseover->tooltip#reopenRdvContextButton">
      <button class="btn btn-blue">
        Rouvrir "<%= rdv_context.motif_category.name %>"
      </button>
    </div>
  <% end %>
<% else %>
  <%= link_to rdv_context_closings_path(rdv_context.id, organisation_id: params[:department_id], department_id: params[:department_id], applicant_id: applicant.id), method: :post do %>
    <div data-controller="tooltip" data-action="mouseover->tooltip#closeRdvContextButton">
      <button class="btn btn-blue">
        Clôturer "<%= rdv_context.motif_category.name %>"
      </button>
    </div>
  <% end %>
<% end %>
