<%= link_to(department_applicant_referent_assignations_path(@department, @applicant), data: { turbo_frame: 'remote_modal' }) do %>
  <button class="btn btn-blue mb-3"><i class="fas fa-user-plus"></i> Assigner le.s référent.s</button>
<% end %>