<div class="container mt-5 mb-5">
  <%= render "applicants_list_header" %>
  <div class="row card-white justify-content-center">
    <%= render "applicants_list_tabs" %>
    <%= render "applicants_list_table" %>
  </div>
</div>
