<% content_for :title, "Configuration - Gestion des tags - #{@organisation.name} - rdv-insertion" %>

<div class="container text-dark-blue mt-5 mb-5">
  <%= render "organisations/configuration/header", tab: "tags", organisation: @organisation %>

  <div class="tab-content mt-4">
    <p class="text-muted">Contenu de l'onglet Gestion des tags à implémenter</p>
  </div>
</div>
