<%# locals: () %>
<p>
  <strong>Il n'y a plus de créneaux disponibles</strong> pour inviter cet usager.
</p>
<p>
  Nous vous invitons à créer de nouvelles plages d'ouverture ou augmenter le délai de prise de rdv depuis RDV-Solidarités pour pouvoir à nouveau envoyer des invitations.
</p>
<p>
  Plus d'informations sur <a href='https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/configurer-loutil-et-envoyer-des-invitations/envoyer-des-invitations-ou-convocations/inviter-les-personnes-a-prendre-rdv#cas-des-creneaux-indisponibles' target='_blank' class='link-violet-underlined'>notre guide</a>
</p>
