<% if archive.blank? %>
  <!-- We must set a wrapper to trigger a tooltip on a disabled element -->
  <span class="tooltip-wrapper" data-controller="tooltip" data-action="mouseover->tooltip#archivingDisabled">
    <%=
      link_to(
        "Archiver le dossier",
        new_archive_path_with_structure(user_id: user.id),
        class: "btn btn-blue #{"disabled" if !policy(Archive.new(department: department, user: user)).create?}", id: "archive-button",
        data: { turbo_frame: 'remote_modal' },
      )
    %>
  </span>
<% else %>
  <%=
    button_tag(
      "Rouvrir le dossier",
      class: "btn btn-blue", id: "unarchive-button",
      disabled: !policy(archive).destroy?,
      data: {
        controller: "archives",
        action: "click->archives#destroy",
        archive_id: archive.id,
        user_id: user.id,
        department_id: department.id,
      }
    )
  %>
<% end %>
