<button class="btn btn-blue-out dropdown-toggle mb-2" id="csvExportButton" data-bs-toggle="dropdown" aria-expanded="false">
  Exporter
</button>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="csvExportButton" data-turbo-prefetch="false">
  <li>
    <%= link_to(
          structure_users_path(**url_params.merge(format: "csv", export_type: nil)),
          class: "dropdown-item",
          **tooltip_attributes(content: "Les usagers correspondant aux filtres actuels seront exportés", placement: "bottom")
        ) do %>
      Exporter les données des usagers (.CSV)
    <% end %>
  </li>
  <li>
    <%= link_to(
          structure_users_path(**url_params.merge(format: "csv", export_type: "participations")),
          class: "dropdown-item",
          **tooltip_attributes(content: "Les rendez-vous des usagers correspondant aux filtres actuels seront exportés", placement: "bottom")
        ) do %>
      Exporter les rendez-vous des usagers (.CSV)
    <% end %>
  </li>
</ul>