<div class="dora-banner">
  <%= image_tag "dora_icon.svg", class: "dora-banner__icon", alt: "Icône Dora" %>
  <div class="dora-banner__content">
    <p class="dora-banner__text">
      Dora vous permet d'identifier et de prescrire les dispositifs d'insertion les plus pertinents pour vos bénéficiaires.
    </p>
    <%= link_to "Orienter sur Dora", dora_url, id: link_id, class: "dora-banner__cta", target: "_blank", rel: "noopener noreferrer" %>
  </div>
</div>
