<div class="me-2">
  <div class="w-100">
    <%= link_to(new_structure_creation_dates_filtering_path(url_params), data: { turbo_frame: 'remote_modal' }) do %>
      <button class="btn btn-grey w-100 dropdown-toggle <% if params[:creation_date_after].present? || params[:creation_date_before].present? %>border-blue<% end %>" id="rdvi_index-nav_filter-creation-date">
        Filtrer par date de création 
        <% if params[:creation_date_after].present? || params[:creation_date_before].present? %>
          <span class="filter-active">1</span>
        <% end %>
      </button>
    <% end %>
  </div>
</div>
