<div class="users-list-indicators d-flex justify-content-center align-items-center gap-2 mt-3 mb-1">
  <% if @latest_creneau_availability %>
    <%= render "users/users_list_indicators/creneaux_count", creneau_availability: @latest_creneau_availability %>
  <% end %>
  <%= render "users/users_list_indicators/follow_up_status_filter_shortcut",
             statuses: ["invitation_expired"],
             count: @statuses_count["invitation_expired"].to_i,
             label: "invitations en délai dépassé",
             color: "orange" %>
  <%= render "users/users_list_indicators/follow_up_status_filter_shortcut",
             statuses: FollowUp::RDV_CANCELLED_OR_ABSENCE_STATUSES,
             count: rdv_cancelled_or_absence_count(@statuses_count),
             label: "RDV annulés ou absence",
             color: "red" %>
  <% if (tally_url = ENV["CRENEAU_AVAILABILITY_BANNER_TALLY_URL"]).present? %>
    <% tally_params = { email: current_agent.email,
                        organisation: @organisation.name,
                        department: @department.name } %>
    <div class="position-absolute end-0 d-flex align-items-center gap-3 pe-3">
      <%= link_to "Donnez-nous votre avis", "#{tally_url}?#{tally_params.to_query}",
                  class: "text-underline", target: "_blank" %>
    </div>
  <% end %>
</div>
