<div class="col-12 col-md-6 px-5">
  <h4> <%= User.human_attribute_name(:referents) %> </h4>
  <p class="mb-3 mt-3 flex-wrap d-flex">
    <% if referents.blank? %>
      -
    <% else %>
      <% referents.each do |referent| %>
        <span class="badge badge-tag justify-content-between background-blue-light text-dark-blue me-2 d-flex text-truncate">
          <span class="text-truncate">
            <%= referent %>
          </span>
          <%=
            link_to(
             user_referent_assignation_path_with_structure(user_id: user.id, agent_id: referent.id),
              data: {
                turbo_confirm: "Retirer l'agent référent de cet usager ?",
                turbo_confirm_text_content: "Êtes-vous sûr de vouloir retirer l'agent référent <b>#{referent}</b> de l'usager <b>#{user}</b> ?",
                turbo_confirm_text_action: "- Retirer",
                turbo_method: :delete,
              },
              class: 'text-dark-grey-alt ms-2'
            ) do
          %>
            <i class="fas fa-times"></i>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </p>
  <%= link_to(user_referent_assignations_path_with_structure(user_id: @user.id), data: { turbo_frame: 'remote_modal' }) do %>
    <button class="btn btn-blue mb-3"><i class="fas fa-plus"></i> Ajouter un référent </button>
  <% end %>
</div>
