<div class="col-12 col-md-6 px-5">
  <h4> <%= User.human_attribute_name(:tags) %> </h4>
  <p class="mb-3 mt-3 flex-wrap d-flex" id="tags_list">
    <% if tags.blank? %>
      -
    <% else %>
      <% tags.each do |tag| %>
        <%= render "users_tags/user_tag_badge", user: @user, tag:, with_delete: true %>
      <% end %>
    <% end %>
  </p>
  <%= link_to(user_tag_assignations_path_with_structure(user_id: @user.id), data: { turbo_frame: 'remote_modal' }) do %>
    <button class="btn btn-blue mb-3"><i class="fas fa-plus"></i> Ajouter un tag </button>
  <% end %>
</div>
