<ul class="nav nav-tabs m-3">
  <li class="nav-item">
    <%= link_to structure_user_path(user.id), class: "nav-link d-flex align-items-center #{tab == "infos" ? 'active' : ''}" do %>
      Infos
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to structure_user_rdv_contexts_path(user.id), class: "nav-link d-flex align-items-center #{tab == "rdvs" ? 'active' : ''}" do %>
      Rendez-vous
    <% end %>
  </li>
  <% if show_parcours?(@department) %>
    <li class="nav-item">
      <%= link_to user_parcours_path(user_id: user.id), class: "nav-link d-flex align-items-center #{tab == "parcours" ? 'active' : ''}" do %>
        Parcours
      <% end %>
    </li>
  <% end %>
</ul>
