<%= render "common/attribute_display", record: user, attribute: :organisations, as: :list, id: "organisations_list" do %>
  <%= link_to(users_organisations_path(user_id: user.id), data: { turbo_frame: 'remote_modal' }) do %>
    <button class="btn btn-blue"><i class="fas fa-pen"></i> Ajouter ou retirer une organisation </button>
  <% end %>
<% end %>
