<div class="container mt-4 mb-5">
  <%= render "users_list_header" %>
  <div class="row card-white justify-content-center">
    <%= render "users_list_tabs" %>
    <%= render "users_list_table" %>
  </div>
</div>
