<div class="container mt-4 px-0">
  <%= render "users/dora_banner", dora_url: "https://dora.inclusion.gouv.fr/?mtm_campaign=rdvi&mtm_kwd=index", link_id: "dora-link-index" %>
</div>
<div class="container mt-4 mb-5">
  <%= render "users_list_header" %>
  <div class="row card-white justify-content-center">
    <% if @all_configurations.empty? %>
      Merci de configurer votre organisation avant de pouvoir inviter des usagers
    <% else %>
      <%= render "users_list_tabs" %>
      <%= render "users_list_table" %>
    <% end %>
  </div>
</div>
