<%= render "common/remote_modal", title: "Choisissez une organisation" do %>
  <% @organisations.each do |organisation| %>
    <p>
      <%= link_to(organisation.name, organisation_configuration_path(organisation), class:"btn btn-blue-out") %>
    </p>
  <% end %>
<% end %>

