<h4>Signature</h4>

<% if messages_configuration.signature_lines.present? %>
  <div class="my-3">
    <% messages_configuration.signature_lines.each do |line| %>
      <div><%= line %></div>
    <% end %>
  </div>
<% end %>

<% if messages_configuration.signature_image.attached? %>
  <div class="my-3">
    <strong>Signature jointe :</strong>
    <%= link_to messages_configuration.signature_image.filename,
               previews_signature_path(id: messages_configuration.id),
               class: "existing-signature-link",
               data: { turbo_frame: "remote_modal" } %>
  </div>
<% end %>
