<div class="container mt-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <p>Sélectionnez votre département:</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <% @departments.each do |department| %>
        <div class="card-container">
          <%= link_to department_applicants_path(department) do %>
            <div class="card d-flex flex-row justify-content-between align-content-center card-department mb-3">
              <div class="card-body card-department-body">
                <h4><%= department.name %></h4>
                <p>Good morning <%= department.capital %>!</p>
              </div>
              <% if image_compiled?("maps/#{department.name.parameterize}.svg") %>
                <%= image_pack_tag("maps/#{department.name.parameterize}.svg", alt: department.name.parameterize) %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
