<div class="mb-4">
  <h2 class="h2-title">Invitations envoyées.</h2>
  <% if user_rows_with_invitation_errors.empty? %>
    <div class="flash-expanded">
      <%= render "common/flash_banner", type: :success, description: "Toutes les invitations ont été envoyées." %>
    </div>
  <% else %>
    <div class="flash-expanded">
      <%= render(
        "common/flash_banner",
        type: :alert,
        title: "#{user_rows_with_invitation_errors.count} invitations n'ont pas pu être envoyées.",
        description: "Vous pouvez corriger les erreurs ou revenir à l'accueil."
      ) %>
    </div>
  <% end %>
</div>
