<div id="tag_form">
  <%= form_for(:tag_assignation, url: structure_user_tag_assignations_path(@user.id), method: :post) do |f| %>
    <div class="w-100">
        <% tags.each do |tag| %>
          <%= render "tag_assignation", tag: tag, f: f %>
        <% end %>
      <% if tags.empty? %>
        <p>Aucun tag disponible. Vous pouvez créer des tags depuis la configuration d'une organisation.</p>
      <% end %>
    </div>
    <% if tags.any? %>
      <div class="d-flex justify-content-end align-items-center px-3">
        <%= button_tag type: 'submit', class: "btn btn-primary" do %>
          Ajouter
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>