<div id="tag_form">
  <% tags.each do |tag| %>
    <%= render "tag_assignation", tag: tag, assigned: @user.tag_ids.include?(tag.id) %>
  <% end %>

  <% if tags.empty? %>
    <p>Aucun tag disponible. Vous pouvez créer des tags depuis la category_configuration d'une organisation.</p>
  <% end %>
</div>