<div class="d-flex my-2">
  <%= f.check_box :tag_ids, { multiple: true, class: "form-check-input" }, tag.id, nil %>
  <%= f.label "tag_ids_#{tag.id}", class: "ms-3" do %>
    <%= tag.value %>
  <% end %>
</div>
