<div id="<%= dom_id(tag) %>" class="d-flex my-4">
  <%= f.check_box :tag_ids, { multiple: true, class: "form-check-input" }, tag.id, nil %>
  <%= f.label nil, class: "ms-3" do %>
    <%= tag.value %>
  <% end %>
</div>
