<h1>Bonjour</h1>
<p>Vous trouverez en pièce jointe un fichier compressé au format .ZIP contenant l'export CSV des rendez-vous des usagers que vous avez demandé sur notre plateforme.</p>
<p>L'équipe RDV-Insertion</p>
