<%= turbo_frame_tag dom_id(category_configuration, :alertings) do %>
  <div class="mb-4 background-blue-paler p-4 rounded-3">
    <h3 class="h5 mb-2 fw-bold text-dark-blue">Notifications</h3>

    <div class="mx-3 mb-4">
      <%= render "common/attribute_display_inline",
          record: category_configuration,
          attribute: :email_to_notify_rdv_changes,
          label: "Rendez-vous pris" %>

      <%= render "common/attribute_display_inline",
          record: category_configuration,
          attribute: :email_to_notify_no_available_slots,
          label: "Créneaux indisponibles" %>
    </div>

    <div class="d-flex justify-content-end">
      <%= link_to edit_organisation_category_configuration_alertings_path(organisation, category_configuration),
                  class: "btn btn-blue",
                  data: { turbo_frame: "remote_modal" } do %>
        Modifier
      <% end %>
    </div>
  </div>
<% end %>
