<%= simple_form_for(@rdv, html: { method: :patch }) do |f| %>
  <div class="d-flex flex-column mb-2">
    <% Rdv.statuses.map do |status, value| %>
      <label role="button">
        <%= f.radio_button :status, status, checked: @rdv.status == status %>
        <span><%= t("activerecord.attributes.rdv.statuses.#{status}") %></span>
      </label>
    <% end %>
  </div>
  <%= f.submit "Enregistrer", class: "form-control" %>
<% end %>
<script>
document.addEventListener("turbo:submit-end", function() {
  Turbo.visit(
    window.location.pathname + window.location.search,
    { action: "replace" }
  )
})
</script>