<%= render "common/remote_modal" do %>
  <div>
    <div class="text-center mb-3">
      <%= image_tag "illustrations/error-warning-line.svg", alt: "Illustration d'un message d'avertissement", class: "mb-3" %>
    </div>
    <h4 class="text-center"><b>Impossible d’inviter l’usager</b></h4>
    <div class="p-3">
      <p>
        La catégorie <%= error[:attributes][:motif_category_name] %> a été configurée en « RDV de suivi (avec référent) » sur rdv-insertion.
      </p>
      <p>
        Pour inviter des usagers à ces rendez-vous, créez un motif de suivi dans les <%= link_to("paramètres de votre organisation sur RDV-Solidarités",
                    "https://www.rdv-solidarites.fr/admin/organisations/#{error[:attributes][:organisation_id]}/motifs",
                    target: "_blank", class: "text-decoration-underline") %>.
         <b>Plusieurs orgas peuvent être concernées, on prend laquelle pour le lien ?</b>
      </p>
      <p>
        Besoin d’aide ? <a href="https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion-and-faq/orientation-des-brsa/assigner-un-referent-de-parcours-et-faciliter-la-prise-de-rdv-pour-les-rdv-de-suivi" target="_blank" class="text-decoration-underline">Consulter notre guide d’utilisation</a>
      </p>

    </div>
  </div>
  <div class="d-flex justify-content-center px-3">
    <button type="button" id="confirm-button" class="btn btn-primary me-2" data-bs-dismiss="modal">
      OK
    </button>
  </div>
<% end %>
