<div class="container legal-notice mt-5 mb-5">
  <div class="row justify-content-center align-items-center mt-2">
    <div class="col-11 col-lg-5">
      <%= image_tag "illustrations/contact_us.svg", class: "error-illustration mb-3", alt: "Image d'illustration contactez-nous" %>
    </div>
    <div class="col-11 col-lg-5">
      <h2 class="text-center text-dark-blue">Désolé, votre invitation n'est plus valide !</h2>
      <p class="text-center">
        Veuillez appeler le <strong><%= @invitation.help_phone_number %></strong> pour plus d'informations et planifier un rendez-vous.</p>
    </div>
  </div>
</div>
