<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-11 welcome-title justify-content-center">
      <h1 class="text-center">Je prends rendez-vous</h1>
    </div>
    <div class="col-8 justify-content-center">
      <p>Vous avez reçu par courrier une invitation à prendre rendez-vous d'orientation dans le cadre de votre parcours d'insertion. En le saisissant ci-dessous, vous serez redirigé vers le site RDV-Solidarités, qui vous permettra de choisir un créneau qui vous convient.</p>
    </div>
    <div class="d-flex flex-column card-white col-8 align-items-center mt-3 rdv-insertion-form text-dark-blue h4-as-labels">
      <%= form_with url: :redirect_invitations, method: :get, local: :true, data: { turbo: false } do |f| %>
        <h4 class="text-dark-blue h4-as-labels">Code d'invitation</h4>
        <p><%= f.text_field :uuid, placeholder: "DKC92JX7" %></p>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-blue">Valider</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
