<%= turbo_frame_tag document do %>
 <div class="d-flex mb-1 w-50">
  <div class="w-75">
    <%= link_to rails_blob_path(document.file), target: :blank, class: "text-decoration-underline" do %>
      <i class="fas fa-file-pdf mx-1"></i>
      <%= document.file.filename %>
      <i class="fas mx-1 fa-external-link-alt text-dark-blue"></i>
    <% end %>
  </div>

  <div class="w-25 text-end">
    <%= 
      link_to(
        user_document_path(id: document.id, user_id: document.user_id),
        data: {
          turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce document ?",
          turbo_method: :delete,
        }
    ) do 
    %>
      <i class="fas fa-trash text-dark-blue"></i>
    <% end if document.agent == current_agent %>
  </div>
 </div>
<% end %>