<div class="text-center mt-4">
  <h1>Statistiques</h1>
</div>
<div class="d-flex justify-content-center mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Utilisation", stats_path, class: "nav-link #{current_page?(action: 'deployment_map') ? '' : 'active'}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Déploiement", deployment_map_stats_path, class: "nav-link #{current_page?(action: 'deployment_map') ? 'active' : ''}" %>
    </li>
  </ul>
</div>
<% unless current_page?(action: 'deployment_map') %>
  <div class="d-flex justify-content-center mt-4">
    <div>
      <%=
        select(
          "department", "id", options_for_department_select(@departments),
          { },
          class: "text-center form-select js-department-selector"
        )
      %>
    </div>
  </div>
  <% if @department || @organisation %>
    <div class="d-flex justify-content-center my-3">
      <div>
        <%=
          select(
            "organisation", "id",
            grouped_options_for_select(
              options_for_organisation_select(@department),
              selected: params[:organisation_id] || "0"
            ),
            { },
            class: "text-center form-select js-organisation-selector"
          )
        %>
      </div>
    </div>
  <% end %>
<% end %>
