test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage#{ENV['TEST_ENV_NUMBER']}") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

scaleway:
  service: S3
  access_key_id: <%= ENV['SCALEWAY_ACCESS_KEY_ID'] %>
  secret_access_key: <%= ENV['SCALEWAY_SECRET_ACCESS_KEY'] %>
  region: fr-par
  # see: https://edgeguides.rubyonrails.org/active_storage_overview.html#s3-service-amazon-s3-and-s3-compatible-apis
  endpoint: https://s3.fr-par.scw.cloud
  bucket: rdv-insertion-medias-<%= ENV["ENVIRONMENT_NAME"] %>
