<div>
  <div class="left-col department-logo">
    <%= pdf_image_tag("logos/#{department.name.parameterize}.svg") %>
  </div>
  <div class="right-col rdvi-logo">
    <%= pdf_image_tag('logos/rdv-insertion.svg') %>
  </div>
</div>
