<div class="letter-footer">
  <% if logos_to_display.include?("europe") %>
    <div id="europe-logos">
      <%= image_tag("logos/europe-logos.jpg") %>
    </div>
  <% end %>
  <div>
    <%= image_tag("logos/rdv-solidarites.png") %>
  </div>
  <% if logos_to_display.include?("department") %>
    <div id="department-logo">
      <%= image_tag(department.logo.url) %>
    </div>
  <% end %>
  <% if logos_to_display.include?("france_travail") %>
    <div id="france-travail-logo">
      <%= image_tag("logos/france-travail.png") %>
    </div>
  <% end %>
</div>

