<div class="letter-footer">
  <% if display_europe_logos %>
    <div id="europe-logos">
      <%= image_tag("logos/europe-logos.jpg") %>
    </div>
  <% end %>
  <div>
    <%= image_tag("logos/rdv-insertion.png") %>
  </div>
  <% if display_department_logo %>
    <div id="department-logo">
      <%= image_tag(department_logo_path) %>
    </div>
  <% end %>
  <% if display_france_travail_logo %>
    <div id="france-travail-logo">
      <%= image_tag("logos/france-travail.png") %>
    </div>
  <% end %>
</div>
