<div class="letter-footer">
  <div class="left-col department-logo">
    <%= pdf_image_tag(department.name.parameterize) %>
  </div>
  <div class="right-col rdvi-logo">
    <%= pdf_image_tag("rdv-insertion") %>
  </div>
</div>
