<%= turbo_frame_tag tag, class: "badge badge-tag text-truncate justify-content-between background-blue-light text-dark-blue me-2 d-flex" do %>
  <span class="text-truncate">
    <%= tag.value %>
  </span>
  <%=
    link_to(
      organisation_tag_path(organisation_id: @organisation.id, id: tag.id),
      data: {
        controller: "confirmation-modal",
        turbo_method: :delete,
      },
      class: 'text-dark-grey ms-2'
    ) do
  %>
    <i class="ri-close-line" data-action="click->confirmation-modal#show"></i>
    <%= render(
          "tags/tag_remove_from_organisation_confirm",
          tag: tag,
          organisation: @organisation,
          user_count: @user_count_by_tag_id[tag.id] || 0
        ) %>
  <% end%>
<% end %>
