<%# now that all the saves are attempted, we trigger refreshes only when there is an update on the row and not through the stimulus controller refresh-page-periodically %>
<%= turbo_stream_from @user_list_upload %>
<div class="mb-4">
  <h2 class="h2-title">Création et mise à jour des dossiers terminées.</h2>
  <% if params[:search_query].blank? %>
    <% if user_rows_with_user_save_errors.empty? %>
      <div class="flash-expanded">
        <%= render "common/flash_banner", type: :success, description: "Tous les dossiers ont été créés ou mis à jour." %>
      </div>
    <% else %>
      <div class="flash-expanded">
        <%= render(
          "common/flash_banner",
          type: :alert,
          title: "#{user_rows_with_user_save_errors.count} dossiers usagers n'ont pas pu être créés.",
          description: "Vous pouvez corriger les erreurs ou passer à l'étape suivante."
        ) %>
      </div>
    <% end %>
  <% end %>
</div>
