<p class="text-dark-grey mb-1">Taille maximale : <%= number_to_human_size(ParcoursDocument::MAX_SIZE) %></p>
<% if parcours_documents.empty? %>
  <span>Aucun <%= t("activerecord.attributes.parcours_document.type.#{type}") %> renseigné.</span>
<% else %>
  <% parcours_documents.each do |document| %>
    <%= render "parcours_documents/document", document: %>
  <% end %>
<% end %>
