<%= turbo_frame_tag document do %>
 <div class="d-flex mb-1 w-50">
  <div class="w-75">
    <%= link_to user_parcours_document_path(id: document.signed_id(expires_in: 1.hour), user_id: document.user_id), target: "_blank", class: "text-decoration-underline document-link" do %>
      <i class="fas fa-file-pdf mx-1"></i>
      <%= document.file.filename %>
      <i class="fas mx-1 fa-external-link-alt text-dark-blue"></i>
    <% end %>
  </div>

  <div class="w-25 text-end">
    <%= 
      link_to(
        user_parcours_document_path(id: document.signed_id(expires_in: 1.hour), user_id: document.user_id),
        data: {
          turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce document ?",
          turbo_method: :delete,
        },
        id: "delete-button-#{document.id}"
    ) do 
    %>
      <i class="fas fa-trash text-dark-blue"></i>
    <% end if policy(document).destroy? %>
  </div>
 </div>
<% end %>