<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>En tant que bénéficiaire du RSA, vous avez reçu un premier mail il y a 3 jours vous invitant
 à contacter la plateforme départementale afin de démarrer un parcours d’accompagnement.</p>
<p>Il ne vous reste plus que <span class="font-weight-bold"><%= @invitation.number_of_days_before_expiration %> jours</span> pour appeler le  <span class="font-weight-bold"><%= @invitation.help_phone_number %></span>.</p>
<p> Cet appel est nécessaire pour le traitement de votre dossier.</p>
<%= render 'common/invitations_signature', invitation_parameters: @invitation_parameters, department: @department %>
