<%= render "common/custom_confirmation_modal" do %>
  <div class="w-100 mb-4">
    <div class="w-100 text-center mb-3">
      <%= image_tag "illustrations/error-warning-line.svg", alt: "Illustration d'un message d'avertissement", class: "mb-3" %>
      <h5 class="mt-2">Êtes-vous sur de vouloir revenir à l'étape du choix de fichier usager ?</h5>
    </div>
    <p>Si vous revenez à l'étape précédente, vous perdrez les usagers du fichier chargé ainsi que les modifications apportées à leurs données.</p>

    <p>Revenir à l'étape précédente ?</p>
    <div class="d-flex justify-content-end align-items-center px-3">
      <button type="button" class="btn btn-blue-out border-0 me-2" data-bs-dismiss="modal">
        Annuler
      </button>
      <button type="button" id="confirm-button" data-controller="confirm-button" data-action="click->confirm-button#confirm" class="btn btn-blue me-2" data-bs-dismiss="modal">
        Revenir au choix du fichier
      </button>
      </div>
    </div>
  </div>
<% end %>