<%= form_with(
  url: user_list_upload_user_row_path(
    user_list_upload_id: @user_list_upload.id,
    uid: user_row.uid
  ),
  method: :patch
) do |form| %>
  <div class="input-group input-group-sm">
    <% if attribute == :title %>
      <%= form.select "user_row[title]", User.titles.keys, { selected: user_row.title }, { class: "form-select" } %>
    <% else %>
      <%= form.text_field "user_row[#{attribute}]",
                          value: user_row.send(attribute),
                          class: "form-control" %>
    <% end %>
    <button type="submit">
      <i class="ri-check-line text-success"></i>
    </button>
    <button type="button"
            data-action="user-row-cell#show">
      <i class="ri-close-line text-danger"></i>
    </button>
  </div>
<% end %>
