@font-face {
   font-family: 'Marianne';
   src: url('../fonts/Marianne/Marianne-Regular.woff');
}

.marianne {
  font-family: 'Marianne', Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: 700;
}

.text-align-right {
  text-align: right !important;
}

.text-underline {
  text-decoration: underline;
}
