.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.text-align-right {
  text-align: right !important;
}

.text-underline {
  text-decoration: underline;
}

.text-truncate-100 {
  @extend .text-truncate;
  max-width: 100px;
}

.text-truncate-150 {
  @extend .text-truncate;
  max-width: 150px;
}
