$purple: #6570C5;
$purple-light: #9199D6;
$very-light-grey: #F4F4F4;
$very-dark-grey: #6F747A;
$light-grey: #E3E4E6;
$dark-grey: #B2ADAD;
$dark-grey-alt: #507494;
$alt-grey: #212529;
$light-blue: #65809C;
$orange: #EC4C4C;
$orange-light: #ffb88e;
$mid-blue: #0050AF;
$dark-blue: #083b66;
$dark-blue-dim: #083c66ab;
$light-blue-alt: #d8e1f4;
$light: #f9fbff;
$green: #57EE93 ;
$dark-green: #2BA42F;
$green-light: #e9fae9;
$rdv_solidarites_blue: #222e5c;

$primary:$dark-blue;
$danger: $orange;
$warning: $orange-light;
$success: $green;
$info: $dark-blue-dim;
