// Blues
$dark-blue: #000091;
$light-blue: #1212FF;
$info: #0063CB;

// Browns
$brown: #B34000;
$brown-light: #FFF6F5;

// Greens  
$dark-green: #18753C;
$green: #57EE93;
$green-light: #E1FEE8;

// Greys
$alt-grey: #161616;
$dark-grey: #929292;
$light-grey: #CECECE;
$light-grey-2: #F6F6F6;
$very-light-grey: #F4F4F4;

// Oranges
$orange: #F95A5C;
$orange-light: #ffb88e;

// Purples
$violet: #6363E6;
$light: #F5F5FE;
$light-2: #fafbfe;
$light-3: #EAF4FD;

// Semantic colors
$primary: $dark-blue;
$warning: #B34000;
$success: $dark-green;


$danger: $orange;
$warning: $orange-light;
$success: $green;