@import "bootstrap";
@import "./_variables";
@import "./pages/department";
@import "./pages/applicants";
@import "./components/navbar";
@import "./components/footer";
@import "./components/card";
@import "./components/form";
@import "./components/button";
@import "./components/pagination";
@import "./fontawesome_imports";



html {
  position: relative;
  min-height: 100%;
}

.container {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

body {
  background-color: $light;
}
