@import "./_variables";
@import "bootstrap";
@import "./_fonts";
@import "./pages/organisation";
@import "./pages/applicants";
@import "./components/navbar";
@import "./components/footer";
@import "./components/card";
@import "./components/form";
@import "./components/button";
@import "./components/color";
@import "./components/pagination";
@import "./components/image";
@import "./components/title";
@import "./components/color";
@import "./components/stat";
@import "./components/banner";
@import "./vendor/inclusion_connect_button";
@import "./fontawesome_imports";
@import "tippy.js/dist/tippy.css";

html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

body {
  background-color: $light;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.wrapper {
  flex:1
}
