@import "./_variables";
@import "bootstrap";
@import "./_text";
@import "./pages/organisation";
@import "./pages/users";
@import "./pages/user";
@import "./pages/upload";
@import "./components/autocomplete";
@import "./components/navbar";
@import "./components/dropdown";
@import "./components/footer";
@import "./components/card";
@import "./components/form";
@import "./components/button";
@import "./components/border";
@import "./components/color";
@import "./components/pagination";
@import "./components/image";
@import "./components/title";
@import "./components/color";
@import "./components/notification_center";
@import "./components/flash";
@import "./components/users_list_filters";
@import "./components/stat";
@import "./components/table";
@import "./components/icon";
@import "./components/form_group_toggle";
@import "./components/qr_code_scanner";
@import "./components/agreement_modal";
@import "./components/rdv_insertion_instance_name";
@import "tippy.js/dist/tippy.css";
@import "remixicon/fonts/remixicon.css";
@import "./dsfr_overrides.scss";

@font-face {
  font-family: 'Marianne';
  font-weight: 400;
  src: url('../fonts/Marianne/Marianne-Regular.woff');
}

@font-face {
  font-family: 'Marianne';
  font-weight: 700;
  src: url('../fonts/Marianne/Marianne-Bold.woff');
}

html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Marianne', Arial, Helvetica, sans-serif;
}

.wrapper {
  flex: 1
}

.container {
  width: 95%;
  max-width: 1500px;
}

.align-self-end {
  align-self: flex-end;
}
