.reset-dsfr-overrides {
  a {
    &::after {
      display: none;
    }
  }
  p {
    line-height: normal;
  }
  [href] {
    background-image: none;
  }
  a[href]:active, a[href]:hover {
    --underline-hover-width: unset;
  }
  .btn-blue-out {
    &:hover, &:disabled {
      background-color: $dark-blue !important;
      color: white;
    }
  }
}