@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "./_variables";

$padding: 30px;

/* -------------------------------------
    GLOBAL
    A very basic CSS reset
    https://github.com/mailgun/transactional-email-templates/blob/master/templates/styles.css
------------------------------------- */
* {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  line-height: 1.6em;
  /* 1.6em * 14px = 22.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 22px;*/
}

/* Let's make sure all tables have defaults */
table td {
  vertical-align: top;
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: #f6f6f6;
}

.overview{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 40px;
  padding: 20px;
}

.body-wrap {
  background-color: #f6f6f6;
  width: 100%;
}

.container {
  display: block !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important;
}

table {
  border-color: $orange !important;
  border-width: 3px 0 0 !important;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  padding-top: 0px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-top: 3px solid $blue;
  border-radius: 3px;
}

.content-wrap {
  padding: 20px;
}

.content-block {
  padding: 0 0 20px;
}

.header {
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  clear: both;
  color: #999;
  padding: 20px;
}
.footer p, .footer a, .footer td {
  color: #999;
  font-size: 12px;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  /* 1.2em * 32px = 38.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
  /*line-height: 38px;*/
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p, ul, ol {
  margin-bottom: 10px;
  font-weight: normal;
}
p li, ul li, ol li {
  margin-left: 5px;
  list-style-position: inside;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
  color: #348eda;
  text-decoration: underline;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.clear {
  clear: both;
}

.d-block{
  display: block;
}

.font-weight-bold {
  font-weight: bold;
}

.title{
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.float-right{
  float: right;
}

.row-result{
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.no-border{
  border: none;
}


body,
html,
.body {
  background: $white !important;
  color: $body-color;
}

.body-drip {
  border-top: 8px solid #663399; }

.header .columns {
  padding-bottom: 0; }

.header p {
  color: #fff;
  padding-top: 15px; }

.wrapper-inner {
  padding: 40px 20px;
}

.header .container {
  background: transparent; }

.wrapper.secondary {
  background: #f3f3f3;
}

.logo{
  margin-top: 20px;
}

.rdvi-logo {
  width: 215px;
  margin-bottom: 5px;
}

.structure-logo {
  max-width: 150px;
  max-height: 50px;
  margin-right: 20px;
  margin-top: 10px;
  &:last-child {
    margin-right: 0px !important;
  }
}

.btn-primary{
  background-color: $orange;
  padding: 10px;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  border-radius: 3px;
}

.btn-wrapper{
  border-radius: 3px;
  text-align: center;
  margin: 20px 0 !important;
}

@media only screen and (max-width: 640px) {
  .overview{
    padding: 0 !important;
    margin: 0 !important;
  }
}

blockquote {
  background-color: $light;
  padding: $padding;
  margin: 15px;
}

.background-blue {
  background-color: $blue-pale;
}

.padding-10 {
  padding: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-light-grey {
  color: $light-grey;
}

.info-separator {
  border: none;
  border-top: 1px solid #e9e9e9;
  margin: 20px 0;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-block {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.text-underlined {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

.text-blue {
  color: $dark-blue;
}

.margined-paragraph {
  margin-left: 25px;
  margin-bottom: 15px;
  p {
    margin: 0
  }
}

body.rdv-solidarites {
  .btn-primary{
    background-color: $dark_blue;
  }
  table {
    border-color: $dark_blue !important;
  }
}