@font-face {
  font-family: 'Marianne';
  src: url('../fonts/Marianne/Marianne-Regular.woff');
}

body {
  font-family: "Marianne", sans-serif;
}

// to keep the link to rdv-insertion on one line
u {
  white-space: nowrap;
}

.left-col {
  display: inline-block;
  width: 40%;
  margin-right: 140px;
}

.right-col {
  display: inline-block;
  width: 40%;
}

.col-1 {
  display: inline-block;
  width: 15%;
  margin-right: 0px;
  padding-right: 0px;
}

.col-2 {
  display: inline-block;
  width: 15%;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 80px;
}

.col-3 {
  display: inline-block;
  width: 20%;
  margin-right: 80px;
}

.col-4 {
  display: inline-block;
  width: 30%;
}

.department-logo {
  &.header-logo {
    position: absolute;
    top: 0;
    width: 40%;
  }
  img {
    height: 80px;
    border: none;
    display: block;
    margin: 0 auto;
  }
}


.rdvi-logo {
  height: 80px;
}

.mail-object {
  margin: 40px 0 20px;
}

.main-content {
  width: 95%;
  margin-left: 40px;
  margin-bottom: 80px;
  font-size: 18px;
  p {
    text-align:justify;
    text-justify: inter-word;
  }
}

.invitation-token {
  background-color: #083b66;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  width: 35%;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 1.5rem;
}

.bold-blue {
  font-weight: bold;
  color: #083b66;
}

.letter-signature {
  p {
    text-align: right;
  }
}

.letter-footer {
  position: absolute;
  top: 1230px;
  width: 100%;
}
