.left-col {
  display: inline-block;
  width: 40%;
  margin-top: 10px;
  margin-right: 140px;
}

.right-col {
  display: inline-block;
  width: 40%;
}

.logo img {
  height: 80px;
  border: none;
  display: block;
  margin: 0 auto;
}

.mail-object {
  margin: 40px 0 40px;
}

.main-content {
  width: 95%;
  margin-left: 40px;
  margin-bottom: 80px;
  font-size: 18px;
  p {
    padding-bottom: 10px;
    text-align:justify;
    text-justify: inter-word;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.invitation-token {
  background-color: #083b66;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  width: 35%;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 1.5rem;
}

.bold-blue {
  font-weight: bold;
  color: #083b66;
}

.letter-signature {
  p {
    text-align: right;
  }
}
