// note: flexbox is not working with wkhtmltopdf/wicked-pdf ; hence, the dirty css to keep everything centered/aligned

@font-face {
  font-family: 'Marianne';
  src: url('../fonts/Marianne/Marianne-Regular.woff');
}

body {
  font-family: "Marianne", sans-serif;
}

// to keep the link to rdv-insertion on one line
u {
  white-space: nowrap;
}

.header-left-col {
  display: inline-block;
  width: 40%;
  margin-right: 140px;
}

.header-right-col {
  display: inline-block;
  width: 40%;
}

.pdf-align-center {
  text-align: center;
}

.header-logo {
  position: absolute;
  top: 0;
  width: 40%;
  img {
    height: 80px;
    border: none;
    display: block;
    margin: 0 auto;
  }
}

.mail-object {
  margin: 60px 0 20px;
}

.main-content {
  width: 95%;
  margin-left: 40px;
  margin-bottom: 60px;
  font-size: 18px;
  p {
    text-align:justify;
    text-justify: inter-word;
  }
}

.w-100 {
  width: 100%;
}

.invitation-left-col {
  float: left;
  width: 42%;
}

.invitation-right-col {
  float: right;
  width: 42%;
}

.qr-code {
  vertical-align: middle;
  width: 42%;
  img {
    display: block;
    height: 120px;
    border: none;
    margin: 0 0 0 100px;
  }
}

.invitation-token {
  background-color: $dark-blue;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  margin: 40px auto 0 auto;
  font-weight: bold;
  font-size: 1.1rem;
}


.rdv-address {
  padding: 10px;
  border: 1px solid;
  font-weight: bold;
}

.bold-blue {
  font-weight: bold;
  color: $dark-blue;
}

.letter-signature {
  p {
    text-align: right;
  }
}

.letter-footer {
  position: absolute;
  top: 1230px;
  width: 100%;

  div {
    display: inline-block;

    img {
      max-width: 275px;
    }

    &:last-child {
      margin-right: 0px !important;
    }
  // the "first-child:nth-last-child" tricks are used to have logos grossly centered
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ div {
      margin: 0 100px;
      img {
        height: 60px;
      }
    }
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ div {
      margin: 0 30px;
      img {
        height: 55px;
      }
    }
    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ div {
      margin: 0 20px;
      img {
        height: 50px;
      }
    }
  }
}
