<%= turbo_frame_tag "orientations_list" do %>
  <% if orientations.empty? %>
    <p id="no-orientation-text">Pas d'orientation renseignée</p>
  <% else %>
    <table class="table table-hover table-responsive">
        <thead class="text-dark-blue">
          <th scope="col">Dates</th>
          <th scope="col">Type d'orientation</th>
          <th scope="col">Structure</th>
          <th scope="col">Référent unique</th>
        </thead>
        <tbody class="align-middle">
          <% orientations.each do |orientation| %>
            <%= render "orientations/orientation", orientation: %>
          <% end %>
        </tbody>
    </table>
  <% end %>
<% end %>
