.invitation-banner {
  background-color: $green;
  color: $dark-blue;
  padding: 26px 0;
  p {
    font-size: 1.1rem;
    margin: 0;
  }
  i {
    display: inline;
    color: white;
  }
}

.announcement-banner {
  color: white; 

  a {
    color: white;

    &:hover {
      color: white;
    }
  }
}

