// If no style given, we want the buttons with the type "button" not to be styled
button, input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
  color: white !important;
  min-width: 90px;
  &:hover, &:disabled {
    color: white;
    border-color: $orange-light;
    background-color: $orange-light !important;
  }
}

.text-array__remove {
  cursor: pointer;
}

.file-configuration-modal-button {
  width: 120px;
  margin-left: 10px;
}

.badge-tag {
  border-radius: 16px;
  opacity: 1;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  background-color: #EDF5FE;
  color: $info;
  font-size: 14px;

  a {
    color: $info;
  }
}

.badge-tag.text-brown i {
  // ri-close-line color inheritance
  color: $brown;
}

button:disabled {
  cursor: not-allowed !important;
}
