// If no style given, we want the buttons with the type "button" not to be styled
button, input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*
*
* DSFR adds styles that are applied as a global scope.
* Scoping those overrides makes them prevail over the DSFR styles and ensure
* the buttons are styled as expected.
*
*/
.reset-dsfr-overrides {
  #btn-notification-center {
    @extend .btn;
    @extend .btn-header;
    @extend .btn-blue-out;
    position: relative;
    width: 50px;
    min-width: 50px !important;
    height: 50px;
  
    &.has-notification {
      @extend .btn-blue;
  
      &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $danger;
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }
    }
  }
  
  .btn-header {
    height: 50px;
    max-width: 350px;
  }
  
  #rdvi_header_organisation-nav {
    @extend .btn;
    @extend .btn-header;
    @extend .btn-blue-out;
    min-width: 200px;
  }
  
  .btn-blue {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: white;
    min-width: 90px;
    &:hover, &:disabled {
      color: white;
      border-color: $dark-blue-dim;
      background-color: $dark-blue-dim;
    }
    &.show-referent-button {
      min-width: 0;
    }
  }
  
  .btn-blue-out {
    border-color: $dark-blue;
    background-color: white;
    color: $dark-blue;
    &:hover {
      background-color: $dark-blue;
      color: white;
    }
  }
  
  .btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: white;
    min-width: 90px;
    &:hover, &:disabled {
      color: white;
      border-color: $orange-light;
      background-color: $orange-light;
    }
  }
  
  .btn-grey {
    border-color: $light-grey;
    background-color: white;
    color: black;
  }
  
  .btn-sm {
    min-width: 105px !important;
    padding: 0.25rem;
  }
}

.text-array__remove {
  cursor: pointer;
}

.file-configuration-modal-button {
  width: 120px;
  margin-left: 10px;
}

.badge-tag {
  padding: 0.75em 1em;
  margin-right: 0.25rem;
  margin-bottom: 0.5em;
  font-size: 0.85em;
  font-weight: 600;
}

button:disabled {
  cursor: not-allowed !important;
}
