.btn-logout {
  height: 50px;
  width: 150px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  a {
    color: $dark-grey;
  }
}

.btn-logout:hover {
  background-color: $light-grey;
}

.btn-blue {
  background-color: $dark-blue;
  border-color: $dark-blue;
  color: white;
  min-width: 90px;
  &:hover, &:disabled {
    color: white;
    border-color: $dark-blue-dim;
    background-color: $dark-blue-dim;
  }
}

.btn-blue-out {
  border-color: $dark-blue;
  background-color: white;
  color: $dark-blue;
  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.file-input-div {
  width: 87px;
}
