.card-container {
  a {
    color: white;
  }
}

.card {
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  transition: top ease 0.25s;
  position: relative;
  top: 0;

  h4 {
    font-weight: bold;
  }

  img {
    height: 100;
    padding: 10px 20px 10px 20px
  }

  &:hover {
    top: -2px;
  }
}

.card-organisation {
  height: 200px;
  color: $light-blue;
  background-image: linear-gradient(rgba(255, 255,255, 0.4), rgba(255, 255, 255, 0.1));
  background-position: center;

}

.card-demo {
  background-color: rgb(230, 243, 255);
  padding: 60px 20px;
}
