.card-container {
  a {
    color: $dark-blue;
  }
  a:hover {
    color: $info;
  }
}

.card {
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  transition: top ease 0.25s;
  position: relative;
  top: 0;

  h4 {
    font-weight: bold;
  }

  img {
    max-height: 200px;
    max-width: 200px;
    padding: 10px 20px 10px 20px
  }
}

.card-organisation {
  min-height: 200px;
  background-image: linear-gradient(rgba(255, 255,255, 0.4), rgba(255, 255, 255, 0.1));
  background-position: center;
}

.card-demo {
  background-color: rgb(230, 243, 255);
  padding: 60px 20px;
}

.card-white {
  background-color: white;
  caption-side: top;
  border: 0.5px solid $light-grey;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.large-modal-card {
  width: 80%;
  max-width: 1000px;
}

.scrollable-list {
  overflow-y: auto;
  max-height: 60vh;
}

.fully-scrollable-modal {
  @extend .scrollable-list;
  max-height: 80vh;
}

.hr-bleed {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
