.background-dark-blue {
  background-color: $dark-blue;
}

.background-blue-light {
  background-color: $light-blue-alt;
}

.text-dark-blue, .bg-success, .bg-warning {
  color: $dark-blue;
}

.bg-danger {
  color: white;
}

.text-purple {
  color: $purple;
}

.link-blue-light {
  color: $light-blue-alt;
  &:hover {
    color: white;
  }
}

.blue-out {
  background-color: white;
  color: $dark-blue;
}

.border-blue {
  border-color: $dark-blue;
}

