.background-dark-blue {
  background-color: $dark-blue;
}

.background-blue-light {
  background-color: $light;
}

.background-warning {
  background-color: $warning;
}

.background-violet {
  background-color: $violet;
}

.background-green-light {
  background-color: $green-light;
}

.background-brown-light {
  background-color: $brown-light;
}

.background-dark-green {
  background-color: $dark-green;
}

.background-very-light-grey {
  background-color: $very-light-grey;
}

.background-light {
  background-color: $light;
}

.background-white {
  background-color: white !important;
}

.text-dark-blue, .bg-success, .bg-warning {
  color: $dark-blue;
}

.bg-danger {
  color: white;
}

.text-white {
  color: white;
}

.text-dark-green {
  color: $dark-green;
}

.navigation-selected-item {
  @extend .background-dark-blue;
  @extend .text-white;
  &:hover {
    background-color: $dark-blue;
  }
}

.text-dark-grey {
  color: $dark-grey;
}


.text-violet {
  color: $violet;
}

.text-brown {
  color: $brown;
}

.text-light-blue {
  color: $light-blue;
}

.text-info {
  color: $info;
}

.text-red {
  color: $red;
}

.link-blue-light {
  color: $light;
  &:hover {
    color: white;
  }
}

.link-violet-underlined {
  text-decoration: underline;
  color: $violet;
  &:hover {
    color: $alt-grey;
  }
}

.link-blue-underlined {
  text-decoration: underline;
  color: $dark-blue;
  &:hover {
    color: $alt-grey;
  }
}

.blue-out {
  background-color: white;
  color: $dark-blue;
}

.border-blue {
  border-color: $dark-blue !important;
}

.text-navy-blue {
  color: $navy-blue !important;
}

.text-dark-red {
  color: $dark-red !important;
}

.text-red-bright {
  color: $red-bright !important;
}

.text-dark-green-alt {
  color: $dark-green-alt !important;
}

.text-grey-alt {
  color: $alt-grey !important;
}

.background-blue-pale {
  background-color: $blue-pale !important;
}

.background-orange-pale {
  background-color: $orange-pale !important;
}

.background-red-pale {
  background-color: $red-pale !important;
}
