.background-dark-blue {
  background-color: $dark-blue;
}

.background-blue-light {
  background-color: $light-blue-alt;
}

.background-warning {
  background-color: $warning;
}

.text-dark-blue, .bg-success, .bg-warning {
  color: $dark-blue;
}

.bg-danger {
  color: white;
}

.text-white {
  color: white;
}

.navigation-selected-item {
  @extend .background-dark-blue;
  @extend .text-white;
  &:hover {
    background-color: $dark-blue;
  }
}

.text-dark-grey-alt {
  color: $dark-grey-alt;
}

.text-dark-grey {
  color: $dark-grey-alt;
}

.text-purple {
  color: $purple;
}

.text-light-blue {
  color: $light-blue;
}

.link-blue-light {
  color: $light-blue-alt;
  &:hover {
    color: white;
  }
}

.link-purple-underlined {
  text-decoration: underline;
  color: $purple;
  &:hover {
    color: $alt-grey;
  }
}

.blue-out {
  background-color: white;
  color: $dark-blue;
}

.border-blue {
  border-color: $dark-blue;
}
