.dropdown-menu {
  &#batch-actions-dropdown {
    width: 260px;
  }
  &#organisation-navigation-dropdown {
    max-width: 515px;
    min-width: 300px;
    max-height: 500px;
    overflow-y: auto;
    z-index: 9999;
  }
}

.dropdown-toggle:not(.accessible):focus {
  box-shadow: none !important;
}

#batch-actions-menu {
  width: 260px;
}
