.flash_message_fade {
  animation: appear-then-fade 10s both;
}

.alert {
  margin-bottom: 0;
}

.alert-success {
  background-color: $green-light;
  span > i {
    color: $dark-green;
  }
}

.alert-info {
  background-color: #E9F2FA;
  span > i {
    color: #2580CD;
  }
}

.alert-danger {
  background-color: #FDEDED;
  span > i {
    color: #C23131;
  }
}

.alert-warning {
  background-color: #FAF4E9;
  span > i {
    color: #CD8A25;
  }
}

.flash-expanded {
  margin-left: -45px;  /* adjust based on your container's padding */
  margin-right: -45px;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}
