.footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  // transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0px 50px;
  width: 100%;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
  }
}

@media (max-width: 700px) {
  .optional-link {
    display: none;
  }
}
