footer {
  background-color: white;
  width: 100%;
  padding-top: 1.8rem;
  border-top: 1px solid #d4d4d4;
}

footer * {
  list-style-type: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.footer-top-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  li {
    padding-top: 0.3rem;
    &:first-child {
      margin-top: 0.2rem;
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-top: 1px solid #d4d4d4;
  font-size: 0.8rem;
}

.footer-bottom * {
  color: #818181;
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem 0 .7rem;
  width: 100%;
  margin: 0;
}

.footer-bottom-list-item {
  display: flex;
  position: relative;
  margin: .5rem 0 0 1rem;
  display: inline;
  &:first-child {
    margin: .5rem 0 .3rem 0;
  }
  &:not(:first-child)::before {
    margin-right: .75rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    background-color: #d4d4d4;
    display: inline-block;
    content: "";
    vertical-align: middle;
    position: relative;
    width: 1px;
    height: 1rem;
  }
}

@media (max-width: 770px) {
  .footer-top {
    justify-content: center;
  }
  .footer-top-links {
    margin-top: 40px;
  }
}
