.form-container {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 105px;

  form, .form-notice {
    padding: 30px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    max-width: 400px;
    background-color: white;
  }

  .form-notice {
    padding-bottom: 10px;
  }
}

.form-group {
  padding: 20px;
}

input, select {
  background-color: $white;
  color: $dark-blue;
  border-radius: 3px;
  border: 1px solid #083b66;
  width: 100%;
  padding: 1px 5px;
  &.date-select {
    width: inherit;
  }
}

