.form-container {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 60px;

  form, .form-notice {
    padding: 30px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    max-width: 430px;
    background-color: white;
  }

  .form-notice {
    padding-bottom: 10px;
  }
}

.form-group {
  padding: 20px;
}

.login-form-group {
  padding-bottom: 30px;
  label {
    margin-bottom: 10px;
  }
  ::placeholder {
    opacity: 0.5;
  }
}

.input-group-text {
  padding: 0.75rem;
  cursor: pointer;
}

.invitation-checkbox {
  width: 18px;
  height: 18px;
}

.rdv-insertion-form {
  input, select {
    background-color: $white;
    color: $dark-blue;
    border-radius: 3px;
    border: 1px solid $dark-blue;
    width: 100%;
    padding: 1px 5px;
    &.date-select {
      width: inherit;
    }
    &.array-input {
      width: 90%;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &.radio_buttons {
      width: 15px;
      margin-right: 10px;
    }
    &.radio_buttons.big {
      width: 20px;
      height: 20px;
    }
  }
  div {
    &.radio_buttons {
      display: flex;
      justify-content: start;
      span {
        width: 100px;
        label {
          display: flex;
        }
      }
    }
  }
  .checkboxes {
    span {
      text-align: center;
    }
  }
  .file-configuration-select {
    width: 15px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.error_notification {
  display: block;
  text-align: center;
  background-color: $warning;
  padding: 15px;
  color: $dark-blue;
}

.field_with_errors {
  input, select {
    border: 3px solid $orange;
  }
}

.checkbox-error {
  border: 1px solid $orange;
}

.form-switch.large .form-check-input {
  height: 20px;
  width: 40px;
  cursor: pointer;
}

.checkbox-margin-left {
  margin-left: 10px;
}

.small-wheel {
  font-size: 0.9em;
}

.edit-row-attribute {
  height: 50px;
  background: white;
  border-right: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px !important;
  padding-right: 5px !important;
  min-width: 130px;

  .input-group, input[type=text] {
    border: none;
    height: 100%;
    box-shadow: none;
  }

  .edit-buttons {
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px !important;

    button {
      color: white;
      border: none;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button:first-child {
      background: $dark-blue;
    }

    button:last-child {
      background: $orange;
    }
  }
}

[data-signature-state="NO_SIGNATURE"] .signature-display-section,
[data-signature-state="NEW_FILE"] .signature-upload-section,
[data-signature-state="HAS_SIGNATURE"] .signature-upload-section {
  display: none !important;
}

[data-signature-state="NEW_FILE"] .existing-signature-link {
  // There is no signature uploaded yet so we hide the link
  display: none !important;
}

[data-signature-state="NEW_FILE"] .new-filename {
  // There is a new signature, not uploaded yet, so we show the filename but not the link_to
  display: inline !important;
}

.signature-remove {
  cursor: pointer;
  font-weight: bold;
}

.existing-signature-link {
  color: $dark-blue;
  text-decoration: underline;
}
