.form-group-toggle {
  input[name=periodicity-type] {
    width: 20px;
    height: 30px;
  }
  input[type=number] {
    width: 45px;
  }
  &.disabled {
    .form-group-toggle-content {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}