.welcome-illustration {
  width: 100%;
}

.welcome-illustration-sm {
  height: 100px;
}

.rdvi-logo {
  padding-left: 20px;
}

.footer-france-logo {
  width: 160px;
}

.error-illustration {
  width: 100%;
}

@media (max-width: 400px) {
  .rdvi-logo{
    width: 150px;
    padding-left: 0px;
  }
}

@media (max-width: 325px) {
  .rdvi-logo{
    width: 140px;
    padding-left: 0px;
  }
}

