.organisation-configuration-logo {
  max-width: 100%;
  height: 100px;
}

.welcome-illustration {
  width: 130%;
}

.welcome-illustration-sm {
  height: 100px;
}

.rdvi-logo {
  padding-left: 30px;
  width: 215px;
}

.footer-logo {
  width: 140px;
}

.error-illustration {
  width: 100%;
}

.teleprocedure-department-logo {
  max-height: 130px;
}

@media (max-width: 400px) {
  .rdvi-logo{
    width: 150px;
    padding-left: 0px;
  }

  .teleprocedure-department-logo {
    width: 80%;
  }
}

@media (max-width: 325px) {
  .rdvi-logo{
    width: 140px;
    padding-left: 0px;
  }
}

