.welcome-illustration {
  width: 100%;
}

.welcome-illustration-sm {
  height: 100px;
}

.rdvi-logo {
  padding-left: 30px;
  width: 215px;
}

.footer-france-logo {
  width: 160px;
}

.error-illustration {
  width: 100%;
}

.teleprocedure-department-logo {
  width: 500px;
  max-height: 130px;
}

@media (max-width: 400px) {
  .rdvi-logo{
    width: 150px;
    padding-left: 0px;
  }

  .teleprocedure-department-logo {
    width: 80%;
  }
}

@media (max-width: 325px) {
  .rdvi-logo{
    width: 140px;
    padding-left: 0px;
  }
}

