.expand-button-container {
  display: none;
}

.collapse-button-container {
  display: none;
}

.is-expanded {
  position: relative;

  .collapse-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -15px;
  }
}

.is-collapsed {
  overflow: hidden;
  max-height: 200px;
  position: relative;

  .expand-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* radient from opacity 0 to white */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  }
}

.invitations-date-filter-content {
  p {
    &:last-child {
      margin: 0;
    }
  }
}

.btn-grey.dropdown-toggle[aria-expanded="true"] {
  border-color: $dark-blue;
  color: $dark-blue;
}

.filter-label-checked {
  font-weight: bold;
}

.index-filters {
  label {
    font-size: 15px;
  }
}

.filters-container {
  border-top: 0.5px solid #E3E4E6;
}