header {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07),0 1px 0 0 rgba(0, 0, 0,0.03);
}

.navbar {
  transition: all 0.3s ease;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-france-logo {
  margin-left: 15px;
}

.sub-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: 1px solid $dark-grey;
  position: relative;
  z-index: 2;
  p, a {
    font-size: 12px;
    color: black;
  }
}


.top-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #C0DAF4;
  position: relative;
  z-index: 2;
  transition: 1s;

  &.hidden {
    transform: scaleY(100px);
    height: 0px;
    .top-bar-content {
      display: none !important;
    }
    #toggle-navbar {
      transform: translateY(-45px);
    }
  }

  #toggle-navbar {
    right: 50px;
    top: 45px;
    transition: 1s;
    width: 45px;
    height: 30px;
    justify-content: center;
    display: flex;
    background-color: #C0DAF4;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
  }

  p, a, button {
    color: #083B66;
  }
  a {
    border-bottom: 2px solid;
    padding-bottom: 1px;
  }

  &.dark-blue-style {
    background-color: #1876D0;

    p, a, button {
      color: white;
    }
    #toggle-navbar {
      background-color: #1876D0;
    }
  }

}

.nav {
  &.draggable {
    
    i {
      cursor: ew-resize;
      margin-left: 10px;
    }
  }
}