.navbar {
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07),0 1px 0 0 rgba(0, 0, 0,0.03);
  background-color: white;
}

.navbar-france-logo {
  margin-left: 15px;
}
