.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: $light !important;
  .bg-danger {
    color: white;
  }
}


table.table-hover tbody tr:hover {
  background-color: $light;
}

.table-archived {
  background-color: #f1f1f1;
  color: #a6a6a6
}

.sortable-table-header {
  cursor: pointer;
}
