.new-applicants-title {
  font-size: 24px;
  font-weight: 600;
  color: $dark-blue;
}

.department-map-title {
  font-size: 20px;
  font-weight: 600;
  color: $dark-blue;
}

.applicant-form-title {
  font-size: 34px;
  font-weight: 700;
}

.welcome-title {
  color: $dark-blue;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
  }
}

.legal-notice {
  h1, h2 {
    font-weight: 600;
    margin-top: 25px;
  }
}

@media (max-width: 500px) {
  .welcome-title {
    h1 {
      font-size: 34px;
      line-height: 40px;
    }
  }
}
