.new-users-title {
  font-size: 24px;
  font-weight: 600;
  color: $dark-blue;
}

.department-map-title {
  font-size: 20px;
  font-weight: 600;
  color: $dark-blue;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.h1-form-title {
  font-size: 34px;
  font-weight: 700;
}

.h4-as-labels {
  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.login-title {
  font-size: 28px;
  font-weight: 700;
  margin-left: -180px;
}


.welcome-title {
  color: $dark-blue;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
  }
}

.border-title {
  border-bottom: 2px solid $dark-blue;
}

.legal-notice {
  h1, h2 {
    font-weight: 600;
    margin-top: 25px;
  }
}

@media (max-width: 500px) {
  .welcome-title {
    h1 {
      font-size: 34px;
      line-height: 40px;
    }
  }
}

/* These are the styles for the file uploads part.
   They will soon be the norm and we will change all the titles to fit these */
.h1-title {
  font-size: 24px;
  font-weight: 700;
}

.h2-title {
  font-size: 20px;
  font-weight: 500;
}

.h3-title {
  font-size: 16px;
}