<p>Les présentes conditions générales d'utilisation (dites « CGU ») fixent le cadre juridique de "RDV-Insertion" et définissent les conditions d'accès et d'utilisation des services par l'Utilisateur.</p>

<h2>Article 1 - Champ d'application</h2>
<p>Tout utilisateur peut accéder à la plateforme numérique RDV-Insertion et la connexion est réservée aux bénéficiaires du RSA et aux agents de RDV-Solidarités.</p>

<h2>Article 2 - Objet</h2>
<p>RDV-Insertion est une plateforme numérique qui constitue un outil de prise de rendez-vous pour les usagers des services d'insertion des départements ou de toute structure travaillant avec les départements. Cet outil permet à l'usager de prendre rendez-vous facilement en ligne avec son département. La plateforme organise et fluidifie les rendez-vous du parcours d'insertion pour les bénéficiaires du RSA qui choisissent un créneau à la suite de la réception d'un sms et/ou d'un mail. L'objectif est d'accélérer le parcours d'insertion.</p>

<h2>Article 3 - Définitions</h2>
<p>Les termes suivants ont la signification suivante :</p>
<ul>
  <li><strong>L'Utilisateur</strong> : toute personne utilisant la plateforme numérique ou tout bénéficiaire du RSA ou agent de RDV-Solidarités</li>
  <li><strong>Le responsable de traitement</strong> : la personne morale ou physique qui détermine les finalités et les moyens d'un traitement, donc l'objectif et la manière de réaliser ce traitement</li>
  <li><strong>L'accord de responsabilité conjointe</strong> : les deux responsables du traitement ou plus qui déterminent conjointement les finalités et les moyens du traitement</li>
  <li><strong>Les Services</strong> : les fonctionnalités offertes par RDV-Insertion pour répondre à ses finalités</li>
  <li><strong>Les Organisations</strong> : les organismes qui utilisent RDV-Insertion pour plusieurs contextes RSA</li>
</ul>

<h2>Article 4 - Fonctionnalités</h2>

<h3>A - Accès à la plateforme</h3>
<p>RDV-Insertion permet aux départements de gérer facilement l'entrée des bénéficiaires en parcours d'insertion.</p>
<p>Soit l'utilisateur bénéficiaire du RSA a reçu par SMS/et ou mail une invitation à prendre rendez-vous et il saisit son code d'invitation pour être redirigé vers la plateforme RDV-Solidarités pour choisir un créneau. Dans ce cas, il n'a pas à créer de mot de passe.</p>
<p>Soit l'utilisateur peut se connecter à RDV-Insertion via son adresse mail et mot de passe d'agent de RDV-Solidarités.</p>

<h3>B - Responsable de la configuration de l'outil</h3>
<p>Le responsable de la configuration de l'outil RDV-Insertion gère :</p>
<ul>
  <li>L'organisation</li>
  <li>Les lieux</li>
  <li>Les motifs de RDV</li>
  <li>Les plages d'ouverture</li>
</ul>
<p>Le responsable de la configuration de l'outil est le contact privilégié de l'équipe RDV-Insertion pour faire remonter les bugs ou les demandes d'évolutions pendant l'utilisation du service.</p>

<h3>C - Responsable des invitations</h3>
<p>Le responsable des invitations de l'outil RDV-Insertion est responsable des opérations "au jour le jour". Il peut gérer :</p>
<ul>
  <li>La création des comptes usagers</li>
  <li>Le lancement des invitations et des relances</li>
  <li>La réception des usagers au téléphone ou à l'accueil</li>
</ul>

<h3>D - Le support</h3>
<p>Les agents ou salariés du "support" gèrent la réception des usagers au téléphone ou à l'accueil, ils organisent des rendez-vous le cas échéant.</p>

<h3>E - Les agents recevant une personne en insertion</h3>
<p>Ces agents ou salariés reçoivent du public par le biais de RDV-Insertion. Ce sont des :</p>
<ul>
  <li>Chargés d'orientation</li>
  <li>Travailleurs sociaux</li>
  <li>Coach emplois</li>
  <li>Psychologues</li>
  <li>Toute autre personne recevant du public via l'outil</li>
</ul>

<h3>F - Le bénéficiaire</h3>
<p>Le bénéficiaire est la personne en insertion qui va recevoir les messages provenant de Rdv-insertion. Elle clique sur le lien et va choisir un créneau, recevoir un message de confirmation et pourra se rendre au rendez-vous.</p>

<h2>Article 5 - Accord de responsabilité conjointe entre RDV-Insertion et les organisations</h2>

<h3>1. Principe de responsabilité conjointe</h3>
<p>Les présentes clauses visent à clarifier les responsabilités et rôles des responsables conjoints de traitement, conformément aux exigences de l'article 26 du RGPD.</p>

<h3>2. Obligations de RDV-Insertion</h3>
<p>En sa qualité de responsable de traitement conjoint, le Groupement de l'inclusion est chargé de : mettre en œuvre les mesures de sécurité techniques et organisationnelles garantissant la sécurité du service numérique, la mise en œuvre d'une procédure de violation des données à caractère personnel. RDV-Insertion garantit l'exercice des droits des personnes concernées par le traitement de données.</p>
<p>Le Groupement de l'inclusion est également chargé de procéder à la documentation s'assurant du respect de la règlementation relative aux données à caractère personnel.</p>
<p>Ces obligations ne sont pas opposables aux personnes concernées par le traitement de données à caractère personnel.</p>

<h3>3. Obligations des organisations</h3>
<p>Les organisations s'engagent à respecter strictement les finalités pour lesquelles les données à caractère personnel sont traitées. Par ailleurs, les données à caractère personnels ne peuvent être utilisées ultérieurement que pour des finalités compatibles aux finalités initiales.</p>
<p>En qualité de responsable de traitement conjoint, les organisations s'engagent à garantir la sécurité des systèmes d'information dans lesquels les données sont transmises.</p>
<p>Aucune utilisation commerciale n'est autorisée</p>

<h3>4. Mesures de sécurité</h3>
<p>Le Groupement de l'inclusion est responsable de la sécurité des données personnelles traitées. Le GIP de l'inclusion met en œuvre toutes les mesures nécessaires pour assurer la sécurité et la confidentialité des données personnelles traitées : mesures de sécurité physiques (sécurité des locaux, verrouillage des portes) et informatiques (anonymisation, stockage des données en base de données, cloisonnement des données, mesures de traçabilité, surveillance, protection des réseaux, sauvegarde, antivirus, politique de mot de passe sécurisé) et notamment des mesures organisationnelles (politique de contrôle d'accès des données, sensibilisation des utilisateurs à la protection des données à caractère personnel, procédures en cas de fuite des données personnelles et audits réguliers des procédures et traitements).</p>
<p>Les organisations sont chargées de veiller à faire respecter la confidentialité des données et que chaque personne ayant accès aux données à caractère personnel soit habilitée à les manipuler.</p>
<p>Seuls les destinataires autorisés doivent avoir accès aux données. Ceux-ci sont mentionnés dans la politique de confidentialité.</p>

<h2>Article 6 - Responsabilité de l'éditeur</h2>
<p>Les sources des informations diffusées sur le site sont réputées fiables mais le site ne garantit pas qu'il soit exempt de défauts, d'erreurs ou d'omissions.</p>
<p>L'éditeur s'engage à la sécurisation du site, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Il le réalise dans la limite des capacités techniques liées au chiffrement.</p>
<p>L'éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu au site. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le site pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>

<h2>Article 7 - Responsabilité de l'utilisateur</h2>
<p>Toute information transmise par l'Utilisateur est de sa seule responsabilité. Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s'expose, notamment, aux sanctions prévues à l'article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu'à trois ans d'emprisonnement et 45 000 euros d'amende.</p>
<p>L'Utilisateur s'engage à ne pas mettre en ligne de contenus ou informations contraires aux dispositions légales et réglementaires en vigueur.</p>
<p>L'utilisateur s'engage à ne pas adopter de comportement de nature à porter atteinte à la sécurité du service numérique.</p>

<h2>Article 8 - Mise à jour des conditions d'utilisation</h2>
<p>Les termes des CGU doivent être acceptés au moment de la connexion. Toute modification des CGU réalisée en fonction des modifications apportées au site, de l'évolution de la législation ou pour tout autre motif jugé nécessaire, nécessite votre consentement.</p> 