<% if applicant %>
  <p class="btn-wrapper">
    <%= link_to department_applicant_url(organisation.department, applicant, host: ENV['HOST']), class: "btn btn-primary" do %>
      Voir la fiche usager
    <% end %>
  </p>
<% end %>
