<p>
  Cet email a été transféré à "support@rdv-insertion.fr" parce que l'email de l'organisation <strong><%= @organisation.name %></strong> n'est pas sauvegardé sur rdv-insertion. Sauvegardez-le pour que la prochaine fois l'email soit transféré directement à l'organisation.
</p>
