<%# locals: (f:) %>

<div class="mb-4">
  <div class="fw-bold h3-title mb-2">Nom de l'onglet Excel *</div>
  <div class="col-12 col-md-6">
    <%= f.text_field :sheet_name, class: "form-control" %>
  </div>
</div>

<table class="table table-hover table-responsive text-dark-blue">
  <thead>
    <tr>
      <th class="col">Information collectée</th>
      <th class="col">Nom de la colonne dans le fichier</th>
    </tr>
  </thead>
  <tbody>
    <% FileConfiguration.column_attributes_names.each do |column_name| %>
      <% user_attribute_name = FileConfiguration.matching_user_attribute_name(column_name) %>
      <% next if user_attribute_name && !assignable_user_attribute?(User.new, user_attribute_name) %>
      <% required = FileConfiguration.validators_on(column_name).any?(ActiveRecord::Validations::PresenceValidator) %>
      <tr>
        <td><%= FileConfiguration.human_attribute_name(column_name) %><%= " *" if required %></td>
        <td><%= f.text_field column_name, class: "form-control" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="text-muted small">*Ces informations sont obligatoires pour pouvoir importer des usagers sur rdv-insertion </p>
