<%# locals: (file_configurations:, current_file_configuration:, department:, return_to_selection_path: nil) %>

<div>
  <% file_configurations.each do |file_configuration| %>
    <%= render "file_configurations/select_item",
               file_configuration: file_configuration,
               current_file_configuration: current_file_configuration,
               department: department,
               return_to_selection_path: return_to_selection_path %>
  <% end %>

  <% if file_configurations.empty? %>
    <p class="text-muted text-center py-4">Aucun modèle de fichier disponible.</p>
  <% end %>
</div>
