.left-col {
  display: inline-block;
  width: 40%;
  margin-right: 140px;
}

.right-col {
  display: inline-block;
  width: 40%;
}

.logo img {
  height: 100px;
  border: none;
  display: block;
  margin: 0 auto;
}

.mail-object {
  margin: 40px 0 80px;
}

.main-content {
  width: 95%;
  margin-left: 40px;
  margin-bottom: 50px;
  font-size: 18px;
  p {
    padding-bottom: 10px;
  }
}

.invitation-token {
  background-color: #083b66;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  width: 35%;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 1.5rem;
  // border: 2px solid #083b66;
}

strong {
  color: #083b66;
}
