<div class="mb-2 form-group-toggle" data-controller="invitations-expiration-form">
  <div class="d-flex align-items-center">
    <h3>Limiter la durée de validité des liens d'invitation</h3>

    <div class="form-check form-switch large mx-2">
      <input class="form-check-input" type="checkbox" data-invitations-expiration-form-target="enable" data-action="invitations-expiration-form#toggleInvitationExpiration" <%= category_configuration.number_of_days_before_invitations_expire.present? ? 'checked' : '' %>>
    </div>
  </div>

  <div class="form-group-toggle-content">
    <div class="mt-2 mb-2" data-invitations-expiration-form-target="limitIndicator">
      Aucune limite définie, les invitations n'expireront jamais.
    </div>
    <div class="mt-2 <%= "d-none" if category_configuration.number_of_days_before_invitations_expire.nil? %>" data-invitations-expiration-form-target="inputGroup">
      <div class="d-flex mb-2">
        <div class="d-flex flex-direction-row">
          <div>
            Le lien d'invitation expirera
          </div>
          <%= f.number_field :number_of_days_before_invitations_expire, placeholder: 'X', min: 1, max: 365, class: "mx-1", data: { 'invitations-expiration-form-target': 'numberOfDays', action: 'invitations-expiration-form#numberOfDaysInputChanged' }, value: category_configuration.number_of_days_before_invitations_expire %>
          <div> jours après l'envoi de l'invitation</div>
        </div>
      </div>
    </div>
  </div>
</div>
