<%= form_with(
  url: user_list_upload_user_row_path(
    user_list_upload_id: @user_list_upload.id,
    id: user_row.id
  ),
  data: {
    controller: "user-list-upload--user-row-cell",
    action: "turbo:submit-start->user-list-upload--user-row-cell#setLoading submit->user-list-upload--user-row-cell#submit",
    turbo_frame: "_top"
  },
  class: "edit-row-attribute",
  method: :patch
) do |form| %>
  <div class="input-group input-group-sm" data-turbo-prefetch="false">
    <% if attribute == "title" %>
      <%= form.select "user_row[title]", User.titles.keys, { selected: user_row.title }, { class: "form-control" } %>
    <% else %>
      <%= form.text_field "user_row[#{attribute}]",
                          value: user_row.user.send(attribute),
                          class: "form-control",
                          data: { user_list_upload__user_row_cell_target: "textInput" } %>
    <% end %>
    <div class="edit-buttons">
      <button type="submit">
        <i class="ri-check-line"></i>
      </button>

      <button type="submit">
        <%= link_to user_list_upload_user_row_path(url_params.merge(user_list_upload_id: @user_list_upload.id, id: user_row.id)) do %>
          <i class="ri-close-line"></i>
        <% end %>
      </button>
    </div>
  </div>
<% end %>
