<div class="d-flex flex-column justify-content-center align-items-center h-100 empty-list-success-container">
  <div class="text-center">
    <div class="text-center mb-3">
      <%= image_tag "illustrations/happy-agent.png", alt: "Illustration d'un agent content", class: "empty-list-success-image" %>
    </div>
    <h1 class="h4 mb-3">Tout est bon ! Aucun usager avec erreurs</h1>
    <p class="text-muted">
      Nous n'avons pas détecté de dossiers usagers avec des erreurs qui pourraient empêcher l'import.
    </p>
  </div>
</div>
