<div class="col-md-10 user-list-upload-table-container">
  <div class="d-flex flex-column justify-content-center align-items-center h-100 no-errors-user-rows-container">
    <div class="text-center">
      <div class="text-center mb-3">
        <%= image_tag "illustrations/happy-agent.png", alt: "Illustration d'un agent content", class: "no-errors-user-rows-image" %>
      </div>
      <h2 class="h2-title mb-3">Tout est bon ! Aucun usager avec erreurs</h2>
      <p class="text-muted">
        Nous n'avons pas détecté de dossiers usagers avec des erreurs qui pourraient empêcher l'import.
      </p>
    </div>
  </div>
</div>
