<div class="container mt-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <p class="text-center">Sélectionnez dans quelle catégorie vous souhaitez créer et rattacher les allocataires:</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-8 d-flex justify-content-between">
      <div>
        <%= link_to(department_level? ? new_department_upload_path(@department, category: "none") : new_organisation_upload_path(@organisation, category: "none"), class: "btn btn-blue-out") do %>
          Aucune catégorie de suivi
          <i
            class="fas fa-question-circle"
            data-controller="tooltip"
            data-action="mouseover->tooltip#noCategorySelected"
          >
          </i>
        <% end %>
      </div>
      <% @all_configurations.each do |configuration| %>
        <div>
          <%= link_to(department_level? ? new_department_upload_path(@department, configuration_id: configuration.id) : new_organisation_upload_path(@organisation, configuration_id: configuration.id), class: "btn btn-blue-out") do %>
            <%= configuration.motif_category_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
