<%= render "common/remote_modal", title: "Aperçu de la signature" do %>
  <div class="text-center">
    <%= image_tag @messages_configuration.signature_image.url, style: "max-width: 200px; max-height: 150px;" %>
  </div>
<% end %>
