<div class="text-center mt-5">
  <h3>État du déploiement de RDV-Insertion</h3>
</div>
<div class="row d-flex justify-content-center my-4">
  <div class="col-10 col-md-5">
    <div class="flourish-embed flourish-map" data-src="visualisation/9644547"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>
</div>
