<div class="container marianne">
  <div class="text-center mt-4">
    <h1>Statistiques</h1>
  </div>

  <% if @department.nil? %>


  <div class="d-flex justify-content-center mt-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Utilisation", stats_path, class: "nav-link #{!@deployment_map ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to "Déploiement", stats_path(deployment_map: "true"), class: "nav-link #{@deployment_map ? 'active' : ''}" %>
      </li>
    </ul>
  </div>
  <% end %>
  <%= render 'usage_stats' if !@deployment_map %>
  <%= render 'deployment_map' if @deployment_map %>
</div>
