<div data-controller="crisp"
     data-crisp-display-crisp-value=<%= @should_display_crisp_chatbox %>
     data-crisp-user-email-value="<%= current_agent&.email %>"
     data-crisp-user-nickname-value="<%= current_agent&.to_s %>"
     data-crisp-user-crisp-token-value="<%= current_agent&.crisp_token %>">
</div>
<div id="crisp-wrapper" data-turbo-permanent></div>
