<div data-controller="crisp"
     data-crisp-active-value=<%= @should_display_crisp_chatbox %>
     data-crisp-user-email-value="<%= current_agent&.email %>"
     data-crisp-user-nickname-value="<%= current_agent&.to_s %>"
     data-crisp-user-crisp-token-value="<%= current_agent&.crisp_token %>">
</div>
