<h1>Modèle de Convention de sous-traitance
entre le Groupement d’intérêt public « Plateforme de l’inclusion » et chaque responsable de traitement
</h1>
<h2>Article 1 - Objet</h2>
<p>
La présente convention a pour objet de garantir la conformité à l’article 28, paragraphes 3 et 4, du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données et abrogeant la directive 95/46/CE (ci-après “RGPD”),, entre le Groupement d’intérêt public « Plateforme de l’inclusion » (ci-après “GIP”) en tant que sous-traitant (ci-après “ST”) et le responsable de traitement (ci-après “RT”). Elle s’applique au traitement des données à caractère personnel tel que décrit à l’annexe I et mis à jour via la mention d’information accessible en ligne : [https://www.rdv-insertion.fr/politique-de-confidentialite]. 
</p>
<h2>
Article 2 - Définitions et termes
</h2>
<p>
L’ensemble des termes de cette convention s'entend au sens du RGPD, telles qu’interprétées par les juridictions européennes et françaises. En particulier, les notions de traitement de données, de durée de conservation, de données à caractère personnel, de RT et ST.
</p>
<h2>
Article 3 - Description du traitement de données à caractère personnel
</h2>
<p>
Les détails des opérations de traitement, et notamment les catégories de données à caractère personnel et les finalités du traitement pour lesquelles les données à caractère personnel sont traitées pour le compte du RT, sont précisés à l’annexe.
</p>
<h2>
Article 4 - Instructions du responsable de traitement
</h2>
<p>
Le GIP ne traite les données à caractère personnel que sur instruction documentée du RT, à moins qu’il ne soit tenu d’y procéder en vertu du droit de l’Union européenne ou du droit de l’État membre auquel il est soumis. Dans ce cas, le GIP informe le RT de cette obligation juridique avant le traitement, sauf si la loi le lui interdit pour des motifs importants d’intérêt public. Des instructions peuvent également être données ultérieurement par le RT pendant toute la durée du traitement des données à caractère personnel. Ces instructions doivent toujours être documentées, par tous moyens.
</p>
<p>
Le GIP informe immédiatement le RT si, selon lui, une instruction donnée par le responsable du traitement constitue une violation du RGPD ou d'autres dispositions du droit de l'Union ou du droit des États membres relatives à la protection des données.
</p>
<h2>
Article 5 - Limitation de la finalité
</h2>
<p>
Le GIP traite les données à caractère personnel uniquement pour la ou les finalités spécifiques du traitement, telles que définies à l’annexe I, sauf instruction complémentaire du RT.
</p>
<h2>
Article 6 - Durée du traitement réalisé par le GIP
</h2>
<p>
Le traitement par le GIP n’a lieu que pendant la durée du contrat. Le GIP s’engage à supprimer les données à caractère personnel à la fin du contrat, ou selon les instructions du RT ou selon la politique de suppression ou de renvoi de données du RT.
</p>
<h2>
Article 7 - Sécurité du traitement
</h2>
<p>
Le GIP met en œuvre les mesures techniques et organisationnelles précisées à l’annexe II pour assurer la sécurité des données à caractère personnel, conformément aux dispositions de l’article 32 du RGPD.
</p>
<p>
Le GIP prend toutes les mesures sur la protection des données contre toute violation de la sécurité entraînant, de manière accidentelle ou illicite, la destruction, la perte, l'altération, la divulgation non autorisée de données à caractère personnel ou l'accès non autorisé à de telles données (violation de données à caractère personnel). 
</p>
<p>
Les parties évaluent l’évaluation du niveau de sécurité approprié, les parties tiennent dûment compte de l'état des connaissances, des coûts de mise en œuvre et de la nature, de la portée, du contexte et des finalités du traitement, ainsi que des risques pour les personnes concernées.
</p>
<p>
Particulièrement, lorsque le traitement porte sur des données à caractère personnel relevant des articles 9 et 10 du RGPD, ou sur la donnée encadrée par l’article 30 de la loi n° 78-17 du 6 janvier 1978 modifiée, les parties s’assurent que les mesures de sécurité adéquates sont prises.
</p>
<h2>
Article 8 - Documentation et conformité
</h2>
<p>
Les parties doivent pouvoir démontrer la conformité avec les présentes clauses. Le GIP traite de manière rapide et adéquate les demandes du RT concernant le traitement des données conformément aux présentes clauses.
</p>
<p>
Le GIP met à la disposition du RT toutes les informations nécessaires pour démontrer le respect des obligations énoncées dans les présentes clauses et découlant directement du RGPD. À la demande du RT, le GIP permet également la réalisation d’audits des activités de traitement couvertes par les présentes clauses et y contribue, à intervalles raisonnables ou en présence d’indices de non-conformité. Lorsqu’il décide d’un examen ou d’un audit, le RT peut tenir compte des certifications pertinentes en possession du ST.
</p>
<p>
Le RT peut décider de procéder lui-même à l’audit ou de mandater un auditeur indépendant. Les audits peuvent également comprendre des inspections dans les locaux ou les installations physiques du GIP et sont, le cas échéant, effectués moyennant un préavis raisonnable.
</p>
<h2>
Article 9 - Recours à des sous-traitants ultérieurs
</h2>
<p>
Le GIP dispose de l’autorisation générale du RT pour ce qui est du recrutement de sous-traitants ultérieurs sur la base d’une liste convenue. Le GIP informe spécifiquement par écrit le RT de tout projet de modification de cette liste par l’ajout ou le remplacement de sous-traitants ultérieurs dans un délai de 7 jours à l’avance, donnant ainsi au RT suffisamment de temps pour pouvoir s’opposer à ces changements avant le recrutement du ou des sous-traitants ultérieurs concernés. Le GIP peut fournir sur demande au RT l’accord de sous-traitance ou contrat pour lui permettre d’exercer son droit d’opposition.
</p>
<p>
À la demande du RT, le GIP lui fournit une copie de ce contrat conclu avec le sous-traitant ultérieur et de toute modification qui y est apportée ultérieurement. Le GIP demeure pleinement responsable, à l’égard du RT, de l’exécution des obligations du sous-traitant ultérieur conformément au contrat conclu avec ce dernier.
</p>
<h2>
Article 10 - Transferts internationaux
</h2>
<p>
Le GIP traite les données à caractère personnel pour le compte et sur les instructions du RT y compris lorsque les données sont transférées vers un pays tiers, sauf si le GIP y est tenu d’y procéder conformément au droit de l’Union européenne ou au droit français. Le cas échéant, le GIP informe le RT de cette obligation avant le traitement. En cas de transfert vers un pays tiers, le GIP et les sous-traitants ultérieurs garantissent notamment le respect du chapitre V du RGPD.
</p>
<h2>Article 11 - Assistance au responsable du traitement</h2>
<p>Le GIP prête assistance au RT pour répondre à l’ensemble des obligations qui lui incombent au titre du RGPD. Particulièrement, il s’engage à l’aider à répondre aux obligations qui lui incombent au titre des articles 32 à 36 du RGPD :
<ul>
  <li>La réalisation de l’analyse d’impact lorsque cela est nécessaire et la mise à disposition d'éléments permettant d’y répondre ;</li>
  <li>L’obligation de consultation préalable des autorités compétentes ;</li>
  <li>Les informations et notifications prévues en cas de violation de données. </li>
</ul>

<p>Les parties définissent à l’annexe II les mesures techniques et organisationnelles appropriées par lesquelles le GIP est tenu de prêter assistance au RT dans l’application de la présente clause, ainsi que la portée et l’étendue de l’assistance requise.</p>
<h2>Article 12 - Non-respect des clauses et résiliation</h2>
<p>
En cas de manquements aux obligations prévues par les présentes clauses, le RT se réserve le droit d’ordonner la suspension du traitement de données, par tous moyens. Le GIP informe dans un délai d’une semaine au plus tard s’il n’est pas en mesure de se conformer aux présentes clauses, pour quelque raison que ce soit.
</p>

<p>Si la non-conformité se poursuit, le RT est en droit de résilier le contrat, et celui relatif au service permettant le traitement de données à caractère personnel.</p>
<p>Le GIP peut résilier le contrat dans la mesure où il a informé le RT d’une violation des règles relatives à la protection des données applicables et dans la mesure où il constate la non-cessation de cette violation. Cette résiliation ne peut se faire qu’après que le RT ait été mis en capacité de répondre et dans un délai de 2 semaines.</p>
<h2>Article 13 - Documents conventionnels</h2>
<p>Les documents conventionnels liant les Parties se composent :</p>
<ul>
  <li> De la présente convention ;</li>
  <li>Des annexes liées à la présente convention.</li>
</ul>
<p>
Sans préjudice du respect de la réglementation relative à la protection des données à caractère personnel, les annexes ci-dessus citées peuvent être modifiées et communiquées entre les Parties, sans avenant au présent document, par courrier postal ou électronique, par les personnes habilitées à prendre et à adresser des courriers au sein de chaque organisme pour ce type de décision.
</p>
<h2>Article 14 - Loi applicable et juridiction compétente </h2>
<p>La présente convention est régie par la loi française. En cas de litige, les Parties dans le cadre de la convention s’engagent à coopérer avec diligence et bonne foi en vue de trouver une solution amiable, par voie de transaction, de médiation et de conciliation. </p>
<p>Si toutefois, les Parties ne parviennent pas à un accord dans un délai de deux mois pour toute contestation, litige relatif à la convention, la compétence expresse est attribuée au tribunal administratif de Paris.
</p>
<h2>Annexe 1 – Description du traitement</h2>
<h4>1) Nature et finalité du traitement</h4>
<p>La nature du traitement de données à caractère personnel est l’édition d’un service numérique permettant de proposer des rendez-vous de suivi et d’accompagnement. Le traitement de données à caractère personnel est sous la responsabilité des utilisateurs, départements, et structures d’insertion.
</p>
<p>De nombreux bénéficiaires du RSA en France peinent à réussir leur totale insertion professionnelle, ce qui implique de lever des freins périphériques. Dans ce cadre, le service numérique rdv-insertion vise à améliorer le suivi et l’accompagnement réalisé par les acteurs de l’insertion, notamment dans une meilleure prise de rendez-vous et la réalisation de démarches.
</p>
<p>
<strong>
Le service numérique rdv-insertion a donc pour finalités explicites et déterminées de :
<ul>
  <li>D’accélérer l’entrée dans le parcours d’insertion des usagers ;</li>
  <li>De limiter l’absentéisme des usagers en insertion à leur rendez-vous ;</li>
  <li>De faciliter l’usage de rdv-solidarités par les acteurs utilisant rdv-insertion.</li>
</ul>
</strong>
</p>
<h4>2) Objet et durée du traitement</h4>
<p>Les données sont conservées conformément aux durées de conservation déterminées par les responsables de traitement pendant la durée dudit contrat. </p>
<p>Par défaut, les données sont conservées pour une durée de 2 ans et pourront être modifiées par le responsable de traitement.
</p>
<h4>3) Type de données à caractère personnel</h4>
<p>Les données à caractère personnel traitées sont disponibles ci-après : https://www.rdv-insertion.fr/politique-de-confidentialite .</p>

<table class="table">
<tr>
  <th>Catégorie de données traitées</th>
</tr>
<tr>
  <td>État civil</td>
</tr>
<tr>
  <td>Situation professionnelle et personnelle</td>
</tr>
<tr>
  <td>NIR, en cas d’autorisation</td>
</tr>
<tr>
  <td>Données de localisation</td>
</tr>
</table>

<h4>4) Catégories de personnes concernées</h4>

<table class="table">
<tr>
  <th>Catégorie d'acteurs</th>
</tr>
<tr>
  <td>Utilisateurs de rdv-insertion</td>
</tr>
<tr>
  <td>Usagers de rdv-insertion</td>
</tr>
</table>
<h2>Annexe 2 – Modalités et mesures techniques et organisationnelles</h2>
<p>Le GIP met en œuvre les modalités et mesures techniques organisationnelles nécessaires à la sécurité des données conformément aux dispositions de l’article 32 du RGPD. Ces mesures sont les suivantes : 
</p>
<ul>
  <li>Stockage des mots de passe en base hachée ;</li>
  <li>Cloisonnement des données ;</li>
  <li>Mesures de traçabilité ;</li>
  <li>Surveillance ;</li>
  <li>Protection contre les virus, malwares et logiciels espions ;</li>
  <li>Protection des réseaux ;</li>
  <li>Sauvegarde ;</li>
  <li>Mesures restrictives limitant l’accès physique aux données à caractère personnel.</li>
</ul>
<p>Elles sont accessibles en lignes ci-après : https://www.rdv-insertion.fr/politique-de-confidentialite </p>
<h2>Annexe 3 – Sous-traitants ultérieurs</h2>
<table class="table">
<tr>
  <th>Nom du Sous-traitant ultérieur</th>
  <th>Pays destinataire</th>
  <th>Finalités</th>
  <th>Conformité article n°28 du RGPD</th>
</tr>
<tr>
  <td>Scalingo</td>
  <td>France</td>
  <td>Hébergement de la plateforme</td>
  <td><a href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles" target="_blank">Lien</a></td>
</tr>
<tr>
  <td>Scaleway</td>
  <td>France</td>
  <td>Stockage et hébergement des fichiers </td>
  <td><a href="https://www-uploads.scaleway.com/DPA_FR_v17072024_439cb4fdae.pdf" target="_blank">Lien</a></td>
</tr>
<tr>
  <td>Brevo</td>
  <td>France</td>
  <td>Outil de transfert et d’échange de mails</td>
  <td><a href="https://www.brevo.com/fr/legal/termsofuse/#DPA" target="_blank">Lien</a></td>
</tr>
<tr>
  <td>Sentry</td>
  <td>France</td>
  <td>Suivi des erreurs </td>
  <td><a href="https://sentry.io/legal/dpa/" target="_blank">Lien</a></td>
</tr>
</table>