<header class="fr-header" role="banner" id="header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">République <br>Française</p>
            </div>
            <div class="fr-header__operator">
              <a href="https://www.rdv-solidarites.fr/" title="Accueil - rdv-solidarites">
                <img class="fr-responsive-img" src="<%= asset_path('logos/rdv-solidarites.png') %>" alt="Logo rdv-solidarites" width="250" style="max-width:9.0625rem;" data-fr-js-ratio="true">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
