<div class="dropdown" data-controller="dropdown-menu">
  <button class="btn btn-link btn-header dropdown-toggle accessible" type="button" data-action="click->dropdown-menu#toggle" data-dropdown-menu-target="button" aria-haspopup="true" aria-expanded="false">Besoin d'aide ?</button>
  <div data-dropdown-menu-target="dropdown" class="dropdown-menu py-0 mt-2">
    <a class="dropdown-item py-3 d-flex justify-content-between" target="_blank" href="https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/configurer-loutil-et-envoyer-des-invitations/envoyer-des-invitations-ou-convocations/importer-des-personnes">
      Importer des usagers
      <i class="ri-external-link-line ms-1 text-dark-blue"></i>
    </a>
    <a class="dropdown-item py-3 d-flex justify-content-between" href="https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/configurer-loutil-et-envoyer-des-invitations/envoyer-des-invitations-ou-convocations" target="_blank">
      Envoyer des invitations
      <i class="ri-external-link-line ms-1 text-dark-blue"></i>
    </a>
    <a class="dropdown-item py-3 d-flex justify-content-between" href="https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/configurer-loutil-et-envoyer-des-invitations/recevoir-les-personnes-en-insertion/mettre-a-jour-des-plages-douverture" target="_blank">
      Ouvrir des plages d’ouverture
      <i class="ri-external-link-line ms-1 text-dark-blue"></i>
    </a>
    <a class="dropdown-item py-3 d-flex justify-content-between" href="https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion" target="_blank">
      Autre
      <i class="ri-external-link-line ms-1 text-dark-blue"></i>
    </a>
  </div>
</div>
