<div class="text-center">
  <%= link_to inclusion_connect_auth_path, class: "btn-inclusion-connect", style: "background-image: url('#{asset_path('logo-inclusion-connect-bg.svg')}');", data: { turbo: false }, target: :blank do %>
    <%= image_tag "logo-inclusion-connect-one-line.svg", alt: "Se connecter avec Inclusion Connect" %>
  <% end %>
</div>
