<div class="text-center mb-3">
  <p>Inclusion Connect vous permet d'utiliser le même identifiant et mot de passe pour vous connecter à différents services. Simple, sécurisé, efficace !</p>
  <%= link_to inclusion_connect_auth_path, class: "btn-inclusion-connect", target: :blank do %>
    <%= image_pack_tag "logo-inclusion-connect-one-line.svg", alt: "Se connecter avec Inclusion Connect" %>
  <% end %>
</div>
