<p>
  Si vous rencontrez une difficulté pour accéder à internet, veuillez contacter le <%= invitation.help_phone_number_formatted %>
  <% if configuration.help_address.present? %>
    ou vous rendre <%= configuration.help_address %>.
  <% end %>
</p>
