<p>
  Si vous rencontrez une difficulté pour prendre rendez-vous, vous pouvez contacter le <%= invitation.help_phone_number_formatted %>
  <% if invitation_parameters.present? && invitation_parameters.help_address.present? %>
    ou vous rendre <%= invitation_parameters.help_address %>.
  <% end %>
</p>
