<div data-controller="matomo-script-tag"
     data-matomo-script-tag-container-id-value="<%= ENV["MATOMO_CONTAINER_ID"] %>"
     data-matomo-script-tag-custom-url-value="<%= matomo_page_url %>"></div>