<p>
  <% signature_lines.each_with_index do |signature_line, i| %>
    <%= signature_line %>
    <%= tag(:br) unless signature_lines.length == i + 1 %>
  <% end %>
</p>

<% if local_assigns[:signature_image]&.attached? %>
  <p>
    <%= image_tag(signature_image.url) %>
  </p>
<% end %>
