<% if signature_lines.present? %>
  <p>
    <% signature_lines.each_with_index do |signature_line, i| %>
        <%= signature_line %>
        <%= tag(:br) unless signature_lines.length == i + 1 %>
    <% end %>
  </p>
<% else %>
  <p>Le département <%= I18n.t("with_prefix.#{department.pronoun}", name: department.name) %><br/></p>
<% end %>

<% if local_assigns[:signature_image]&.attached? %>
  <p>
    <%= image_tag(signature_image.url) %>
  </p>
<% end %>
