<% url, options = sign_out_link %>
<%= link_to url, options do %>
  <button class="btn btn-header border-light-grey w-100">
    <span class="d-none d-sm-inline"><%= sign_out_button_text %></span>
    <span class="d-inline d-sm-none"><i class="fas fa-sign-out-alt"></i></span>
  </button>
<% end %>
