<%= render "common/remote_modal", title:, data_attributes: { reload_on_close: } do %>
  <p><%= message %></p>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary my-2" data-bs-dismiss="modal">Fermer</button>
  </div>
<% end %>
