name: CI
on: push
jobs:
  rubocop:
    name: Ruby linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.0
          bundler-cache: true
          rubygems: latest
      - run: bundle exec rubocop
  eslint:
    name: JS linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.0
          bundler-cache: true
          rubygems: latest
      - name: Install JS dependencies
        run: yarn install
      - run: yarn lint
  test_unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13.2
        env:
          POSTGRES_USER: rdv_insertion_test
          POSTGRES_PASSWORD: rdv_insertion_test
          POSTGRES_DB: rdv_insertion_test
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.19.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.0
          bundler-cache: true
          rubygems: latest
      - name: Install JS dependencies
        run: yarn install
      - name: Setup test database
        env:
          POSTGRES_USER: rdv_insertion_test
          POSTGRES_PASSWORD: rdv_insertion_test
          POSTGRES_DB: rdv_insertion_test
        run: bundle exec rails db:create db:schema:load RAILS_ENV=test
      - name: Run specs
        env:
          HOST: http://example.com
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: rdv_insertion_test
          POSTGRES_PASSWORD: rdv_insertion_test
          POSTGRES_DB: rdv_insertion_test
        run: RAILS_ENV=test bundle exec rspec --exclude-pattern "spec/features/**"
  test_features:
    name: Feature Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13.2
        env:
          POSTGRES_USER: rdv_insertion_test
          POSTGRES_PASSWORD: rdv_insertion_test
          POSTGRES_DB: rdv_insertion_test
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.19.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.0
          bundler-cache: true
      - name: Install JS dependencies
        run: yarn install
      - name: Setup test database
        env:
          POSTGRES_USER: rdv_insertion_test
          POSTGRES_PASSWORD: rdv_insertion_test
          POSTGRES_DB: rdv_insertion_test
        run: bundle exec rails db:create db:schema:load RAILS_ENV=test
      - name: Run specs
        env:
          HOST: http://example.com
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: rdv_insertion_test
          POSTGRES_PASSWORD: rdv_insertion_test
          POSTGRES_DB: rdv_insertion_test
        run: RAILS_ENV=test bundle exec rspec ./spec/features/
