<% if rdv_insertion_instance_name.present? %>
  <div class="rdv-insertion-instance-name-wrapper right" aria-hidden=true>
    <div class="rdv-insertion-instance-name">
      <a><%= rdv_insertion_instance_name %></a>
    </div>
  </div>
<% end %>
